.container {
  position: relative;
  height: 100%;
  background-color: var(--color-map-background);
  overflow: hidden;
}

.aside {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: var(--transition);
  transform: translateX(-100%);
  background: var(--gradient);
}

.isOpen .aside {
  transform: translateX(0);
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -2.4rem;
  width: 2.4rem;
  height: 4.8rem;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary-blue);
}
