.infoContainer {
  padding: 0.8rem;
}

.identifiers {
  overflow: hidden;
  color: #22447e;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: var(--size-M);
}

.identifierField {
  float: left;
  width: 50%;
  color: #163f89;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.7rem;
  padding: 0.5rem;
  min-height: 4rem;
}

.identifiers div label {
  opacity: 0.8;
}

.moreValues {
  display: block;
  cursor: pointer;
  text-transform: initial;
  font: var(--font-XS);
  color: var(--color-secondary-blue);
  text-decoration: underline;
}

.saveButton {
  text-transform: uppercase;
  width: 100%;
}

.historyRange {
  font-size: 1.2rem;
}
.historyItem {
  display: flex;
  flex-flow: row nowrap;
}
.rangeLabel {
  text-transform: capitalize;
}
.actions {
  display: flex;
  justify-content: center;
}
.readyForOffline {
  font: var(--font-S);
  line-height: var(--size-M);
  text-align: center;
  vertical-align: middle;
  flex: 1;
  text-transform: uppercase;
  color: var(--color-primary-green);
  background-color: var(--color-terthiary-green);
}

.actions .remove {
  margin-left: var(--space-XS);
  background-color: rgba(var(--danger-red-rgb), var(--opacity-terthiary));
}

.actions .remove:focus:not(:disabled),
.actions .remove:active:not(:disabled),
.actions .remove:hover:not(:disabled) {
  background-color: rgba(var(--danger-red-rgb), var(--opacity-border));
}

.imageGallery {
  margin: 0 auto;
  width: 65%;
}
.imageGallery.loading {
  opacity: 0%;
}
@media (max-width: 1280px) {
  .imageGallery {
    width: 100%;
  }
}
