.infoContainer {
  padding: var(--space-M);
}

.identifiers {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: var(--size-M);
}

.identifierField {
  float: left;
  width: 50%;
  font: var(--font-S);
  line-height: 1.7rem;
  padding: var(--space-XS);
  min-height: var(--size-M);
}

div.identifierField {
  color: var(--color-primary-blue);
}

label.identifierField,
div.identifierField label {
  color: var(--color-secondary-blue);
  opacity: var(--opacity-secondary);
}

.historyItemField {
  font: var(--font-S);
  line-height: 1.7rem;
  padding: var(--space-XS);
  min-height: var(--size-M);
}

.moreValues {
  display: block;
  cursor: pointer;
  text-transform: initial;
  font: var(--font-XS);
  color: var(--color-secondary-blue);
  text-decoration: underline;
}

.saveButton {
  text-transform: uppercase;
  width: 100%;
}

.historyRange {
  font-size: 1.2rem;
}

.historyItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.rangeLabel {
  text-transform: capitalize;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.readyForOffline {
  font: var(--font-S);
  line-height: var(--size-M);
  text-align: center;
  vertical-align: middle;
  flex: 1;
  padding: 0 var(--space-S);
  text-transform: uppercase;
  color: var(--color-primary-green);
  background-color: var(--color-terthiary-green);
}

.actions .remove {
  margin-left: var(--space-XS);
  background-color: rgba(var(--danger-red-rgb), var(--opacity-terthiary));
}

.actions .remove:focus:not(:disabled),
.actions .remove:active:not(:disabled),
.actions .remove:hover:not(:disabled) {
  background-color: rgba(var(--danger-red-rgb), var(--opacity-border));
}

.imageGallery {
  margin: 0 auto;
  width: 65%;
  max-width: 30rem;
}

.imageGallery.loading {
  opacity: 0;
}

.contactUs {
  text-align: right;
}

.infoLabel {
  display: inline-block;
}

@media (max-width: 1280px) {
  .imageGallery {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .identifierField {
    width: 33.3%;
  }

  .imageAndFields {
    display: flex;
    gap: var(--space-M);
  }

  .actions {
    justify-content: flex-end;
  }

  .saveButton {
    width: auto;
  }

  .readyForOffline {
    flex: unset;
  }
}
