.graph {
  width: 100%;
  height: 30rem;
}

.timeSelection {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-S);
  justify-content: space-between;
  margin-top: var(--space-S);
}

.dateWrapper {
  flex: 1;
}

.durationWrapper {
  display: flex;
  align-items: flex-end;
  gap: var(--space-XS);
}

.duration {
  width: var(--size-L);
}

.durationType {
  width: 12rem;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.inputDateLabel {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-XS);
}
