div.modalContentWide {
  padding: 0;
  height: calc(100% - 6.1rem);
}

.content {
  padding: var(--space-L);
  line-height: 1.8;
}

.content strong {
  font-weight: bold;
}

.defaultCursor {
  cursor: default;
}

.content a {
  text-decoration: underline;
}

.subtitle {
  font: var(--font-S);
  text-transform: uppercase;
}

.wide {
  width: calc(100vw - 10rem);
  height: calc(100vh - 10rem);
  max-width: 110rem;
  overflow: hidden;
}
