div.modalContent {
  padding: 0;
}

.content {
  padding: var(--space-L);
  line-height: 1.8;
}

.content strong {
  font-weight: bold;
}

.defaultCursor {
  cursor: default;
}

.content a {
  text-decoration: underline;
}

.subtitle {
  font: var(--font-S);
  text-transform: uppercase;
}
