.container {
  position: relative;
  height: var(--size-M);
}

.container:focus,
.container:hover {
  box-shadow: var(--block-shadow);
}

.isOpen {
  background: var(--color-background);
  filter: var(--drop-shadow);
  z-index: 2;
}

.placeholderContainer {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.placeholderSpaced {
  padding-left: var(--space-XS);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: var(--space-XS);
  top: 0;
  bottom: 0;
}

.optionsContainer {
  width: 100%;
  position: absolute !important; /* as needs to overwrite default FixedSizeList behaviour */
  top: 4rem;
  left: 0;
  background: var(--color-white);
  box-shadow: var(--block-shadow);
  max-height: 40rem;
  overflow: auto;
  z-index: 10;
}

.optionsOpen {
  border: var(--border);
}

.optionItem {
  color: var(--color-secondary-blue);
  line-height: 2rem;
  padding: var(--space-S);
  border-bottom: var(--border);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlight {
  color: var(--color-primary-blue);
  background-color: var(--color-terthiary-blue);
  border-bottom-color: var(--color-secondary-blue);
}

.selected {
  background-color: var(--color-terthiary-blue);
}
