.modal {
  height: auto;
}

.input {
  margin-bottom: var(--space-M);
}

.footer {
  margin-top: var(--space-M);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-M);
}

.adminWarning {
  margin-top: var(--space-M);
  color: var(--color-secondary-blue);
}
