.container {
  padding-top: var(--space-XS);
  padding-bottom: var(--space-S);
}

.container ~ .container {
  padding-top: var(--space-S);
}

.container:not(:last-of-type) {
  border-bottom: var(--border-thick);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-XS) var(--space-S);
}

.sectionTitle {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin: 0;
  text-transform: uppercase;
}

.sectionButtons > *:not(:last-child) {
  margin-right: 1rem;
}

.sectionButtons > *:not(:last-child).lastBtn {
  margin-right: 0;
}
