.tooltipContent {
  background-color: var(--color-white);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.listContainer {
  padding: var(--space-S);
  padding-right: 0;
}

.listContainer > li {
  padding: var(--space-XS);
  padding-right: var(--space-M);
}

.listContainer > li:not(:last-of-type) {
  border-bottom: var(--border);
}

.listContainer > li > button {
  cursor: pointer;
}

.tooltipArrow,
.tooltipArrow::before {
  position: absolute;
  left: -2px;
  width: 8px;
  height: 8px;
  z-index: -1;
  background-color: var(--color-white);
}

.tooltipArrow::before {
  content: '';
  border-left: var(--border);
  border-bottom: var(--border);
  transform: rotate(45deg);
  background: var(--color-white);
}
