.container {
  position: absolute;
  color: var(--color-background);
  font-size: var(--font-size-S);
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.5;
  line-height: 20px;
  z-index: 5;
}

.containerFloat {
  bottom: 0;
  left: 1rem;
}

.coordinates {
  display: block;
  font-size: var(--font-size-S);
  color: var(--color-background);
}

.scale :global(.mapboxgl-ctrl-scale) {
  font: var(--font-XS);
  background: none;
  color: var(--color-white);
  border-color: var(--color-white);
  border-left: none;
  border-right: none;
}
