.fieldsWrapper {
  margin-top: var(--space-L);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.field {
  width: 67%;
  margin-bottom: var(--space-M);
}

.input > input,
.selectContainer > div,
.select li {
  background: var(--secondary-background-color);
  border: 0;
}

.select,
.select:hover {
  background: var(--secondary-background-color);
  border: 0;
}

.select button {
  padding: 0;
}

.checkbox {
  margin-top: 0.2rem;
}

.fieldCheckbox {
  width: 67%;
  margin-bottom: var(--space-M);
  display: flex;
}

.checkboxContainer {
  align-items: flex-start;
  margin: 0 var(--space-S) var(--space-S) 0;
}

.label {
  line-height: var(--size-S);
}

.button {
  width: 100%;
}

.error {
  margin: var(--space-M);
  text-align: center;
}

.validationErrorMessage {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin: var(--space-S);
}

@media (max-width: 767px) {
  .field {
    width: 100%;
  }
}
