.info {
  position: absolute;
  bottom: var(--space-XS);
  left: var(--space-XS);
  color: rgba(255,255,255, 0.4);
  font: var(--font-XS);
  text-transform: uppercase;
  font-weight: bold;
}

.scale {
  margin-bottom: 2.4rem;
  position: absolute;
  left: var(--space-XS);
  bottom: var(--space-XS);
}

.scale :global(.mapboxgl-ctrl-scale) {
  font: var(--font-XS);
  background: none;
  color: rgba(255,255,255, 0.4);
  border-left: none;
  border-right: none;
  border-color: rgba(255,255,255, 0.4);
}

