.info {
  position: absolute;
  bottom: var(--space-XS);
  left: var(--space-XS);
  color: var(--color-white);
  font: var(--font-XS);
  text-transform: uppercase;
  font-weight: bold;
  opacity: .4;
}

.scale {
  margin-bottom: 2.4rem;
  position: absolute;
  left: var(--space-XS);
  bottom: var(--space-XS);
  color: var(--color-white);
}

.scale :global(.mapboxgl-ctrl-scale) {
  font: var(--font-XS);
  background: none;
  color: var(--color-white);
  border-color: var(--color-white);
  border-left: none;
  border-right: none;
}

