.modalContent {
  padding: var(--space-M);
  outline: none;
  background: var(--color-white);
  min-width: 50%;
}

@media only screen and (min-width: 720px) {
  .modalContent {
    height: auto;
  }
}


.imgContainerTranslated {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.imgContainer {
  position: relative;
}

.logoContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: var(--space-S);
  box-sizing: content-box;
  background-image: linear-gradient(180deg, rgba(22, 63, 137, 0.3) 0%, rgba(22, 63, 137, 0) 100%);
}

.logo {
  margin-right: var(--space-M);
}

.img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.imgPreviewContainer {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.imgPreview {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 90vh;
}


@media only screen and (min-width: 720px) {
  .imgPreviewContainer {
    min-height: 70vh;
}

  .imgPreview {
    max-height: 80vh;
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--space-S);
}

@media only screen and (max-width: 720px) {
  .footer button {
    min-width: 8rem;
  }
}
