.container {
  padding: var(--space-M) var(--space-S) var(--space-M) var(--space-M);
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font: var(--font-L);
  flex: 1;
}

.circleMargin {
  margin-right: var(--space-S);
}

.graph {
  margin-top: var(--space-S);
}

.unit {
  color: var(--color-secondary-blue);
}
