.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.containerRow {
  display: flex;
  flex-direction: row;
}

.input {
  margin-bottom: var(--space-M);
}

.input + .input {
  margin-left: var(--space-S);
}

.saveBtn {
  margin-top: auto;
  align-self: flex-end;
}
