.container {
  position: absolute;
  bottom: 70px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 11;
}

.optionItem {
  color: var(--color-secondary-blue);
  line-height: 2rem;
  padding: var(--space-S);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionItem:not(:last-child) {
  border-bottom: var(--border);
}

.openModalLink {
  text-decoration: underline;
}
