.container {
  padding: var(--space-M) var(--space-M);
  border-bottom: var(--border);
}

.tagsContainer {
  position: relative;
  z-index: 1;
}

.title {
  font: var(--font-M-bold);
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  display: inline-flex;
  background-color: currentcolor;
  margin-right: 0.5rem;
}
