.container {
  position: absolute;
  right: 2rem;
  right: 1rem;
  bottom: 1.6rem;
  z-index: 100;
}

.optionsContainer {
  position: absolute;
  width: 24rem;
  padding: var(--space-S);
  background-color: var(--color-white);
  bottom: 5rem;
  right: 0;
}

.optionsContainer::after {
  content: '';
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  background-color: var(--color-white);
  position: absolute;
  right: 1.5rem;
  bottom: -0.5rem;
}

.vesselTrackOptions {
  padding-left: var(--space-M);
}

.vesselTrackOptions > * {
  margin-top: var(--space-S);
}
