.homeContainer {
  height: 100vh;
}

.homeContainer header {
  height: var(--header-height);
  background: var(--color-white);
  border-bottom: var(--border);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.homeContainer header button {
  float: right;
  margin-top: 7px;
  margin-right: 0.5rem;
}

.logo {
  margin-left: 20px;
}

.logo text {
  font-size: 18px;
}

.logo text:last-child {
  font-size: 14px;
}

.homeContainer h2 {
  color: var(--color-secondary-blue);
  font: var(--font-S);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 2rem;
  text-transform: uppercase;
}

.offlineTitle {
  margin: 2rem 1.5rem 0;
}

.offlineAccessEmptyState {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin: 0 1.5rem;
}

.loader {
  margin-top: 5rem;
}

.search {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--header-height));
  width: 100%;
  z-index: 0;
}

.searchResults {
  flex: 1;
  overflow-y: auto;
  position: relative;
  background: var(--gradient);
  padding-bottom: 6rem;
}

.listFooter {
  text-align: center;
  padding: var(--space-M);
  text-transform: uppercase;
}

.loadMoreBtn {
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}

.bottomActions {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: var(--color-white);
  padding: var(--space-S);
  border-top: var(--border);
}

.bottomActionsBtn {
  flex: 1;
}

.partners {
  bottom: 0;
  padding: 20px 0 42px;
  height: 100px;
  width: 100%;
  text-align: center;
}

.gfwLogo {
  max-height: 120%;
  max-width: 50%;
}

.tmtLogo {
  max-height: 100%;
  max-width: 50%;
}

@media only screen and (min-width: 1000px) {
  .search {
    flex-direction: row;
  }

  .bottomActions {
    width: 67%;
  }
}
