.settingsFieldsContainer {
  margin: 15px;
}

.settingsField {
  margin-bottom: 20px;
}

.settingsField label {
  color: rgba(34, 68, 126, 0.5);
}

.settingsField.inlineRow>div>div,
.settingsField.inlineRow span {
  display: inline-block;
}

.settingsField.inlineRow>div>div {
  width: 7rem;
}

.settingsField.inlineRow>div>div>input {
  text-align: center;
}

.multiSelectRegions li {
  overflow: hidden;
}

.settingsLabel {
  display: inline-block;
}

.helpRange {
  font: var(--font-XS);
  color: var(--color-secondary-blue);
}