.container {
  display: flex;
  height: 100%;
}

.placeholder {
  height: calc(100% - 5.2rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-M);
  text-align: center;
}

.errorBtn {
  margin-top: var(--space-M);
}
