.container {
  display: flex;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.switch {
  margin-right: 0.5rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.sublayer {
  display: flex;
  align-items: center;
}

.dot {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.search {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.search button {
  min-width: fit-content;
}
