.dataviewsList {
  padding-bottom: var(--space-M);
}

.dataviewsList > li {
  margin-bottom: var(--space-M);
}

.dataviewsList ul {
  margin-left: var(--space-S);
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-XS);
}

.button {
  margin-left: var(--space-S);
}
