.summaryContainer {
  padding: var(--space-M);
  padding-bottom: 0;
}

.summary {
  font: var(--font-L);
  color: var(--color-secondary-blue);
}

.summary strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}

.tagsContainer {
  display: flex;
  gap: var(--space-S) var(--space-M);
  flex-wrap: wrap;
  border-bottom: var(--border);
  padding: var(--space-M);
  padding-top: var(--space-XS);
}

:global(.sticky) .tagsContainer {
  padding: var(--space-XS);
}
