.container {
  display: flex;
  align-items: center;
}

.container.disabled {
  cursor: not-allowed;
}

.inline {
  display: inline-flex;
}

.Radio {
  width: 1.4rem;
  height: 1.4rem;
  position: relative;
  background-color: transparent;
  border: var(--border);
  border-radius: 0.7rem;
  transition: var(--transition);
  cursor: pointer;
}

.Radio:focus {
  box-shadow: var(--box-shadow-highlight);
}

.Radio .nib {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  top: 0.3rem;
  left: 0.3rem;
  border-radius: 0.4rem;
  background-color: transparent;
  transition: var(--transition);
}

.Radio[aria-checked='true'] {
  background-color: var(--color-primary-blue);
}

.Radio[aria-checked='true'] .nib {
  background-color: var(--color-white);
}

.Radio:not(:disabled):not([aria-checked='true']):hover,
.Radio:not(:disabled):not([aria-checked='true']):focus {
  border: 0.1rem solid var(--color-secondary-blue);
}

.Radio:not(:disabled):not([aria-checked='true']):hover .nib,
.Radio:not(:disabled):not([aria-checked='true']):focus .nib {
  background-color: var(--color-primary-blue);
}

.Label {
  cursor: pointer;
  font: var(--font-M);
  margin-left: var(--space-XS);
  opacity: var(--opacity-secondary);
  color: var(--color-primary-blue);
  text-transform: none;
  max-width: calc(100% - 2rem);
}

.disabled .Label {
  pointer-events: none;
}

.active {
  opacity: var(--opacity-primary);
}
