.row {
  min-width: max-content;
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.contentDot {
  padding-left: var(--space-M);
}

.dataset {
  color: var(--color-secondary-blue);
}

.dot {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  display: inline-flex;
  background-color: currentcolor;
  margin-right: 0.5rem;
}
