.container {
  height: calc(100% - 5.2rem);
}

.userInfo {
    padding: var(--space-M);
    border-bottom: var(--border);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.secondary {
    opacity: var(--opacity-secondary);
}

.views {
    padding: var(--space-M) 0 var(--space-M) var(--space-M);
}

.workspace {
    padding: var(--space-XS) var(--space-XS) var(--space-XS) 0;
}

.workspace:not(:last-child) {
    border-bottom: var(--border);
}

.workspaceLink {
    display: flex;
    align-items: center;
}

.workspaceTitle {
    flex: 1;
}
