.container p {
  margin-bottom: var(--space-M);
  font: var(--font-S);
}

.container a {
  text-decoration: underline;
}

.infoButton {
  vertical-align: text-bottom;
}

.container h2 {
  font: var(--font-L);
}

.container ul {
  list-style: inside;
  padding-left: var(--space-M);
}
