.container {
  width: calc(100vw - 10rem);
  height: calc(100vh - 10rem);
  padding: 0;
  overflow: hidden;
}

.spinnerContainer {
  width: 100%;
  height: calc(100vh - 10rem);
}

.content {
  padding: 0;
  width: 100%;
  height: calc(100vh - 10rem);
  max-width: 110rem;
  overflow: hidden;
}

.content strong {
  font-weight: bold;
}

.content p {
  margin-bottom: var(--space-M);
}

.content a {
  text-decoration: underline;
}

.content img {
  max-width: 100%;
}

.infoButton {
  vertical-align: text-bottom;
}

.content h2 {
  font: var(--font-L);
}

.content h3 {
  font: var(--font-M);
}

.content ul {
  padding-left: var(--space-M);
  list-style-type: circle;
}

.content > ul {
  list-style: disc;
  margin-bottom: var(--space-M);
}

.content > *:nth-last-child(1) {
  padding-bottom: var(--space-XL);
}
