.mapControls {
  position: absolute;
  top: var(--space-S);
  left: var(--space-S);
  right: var(--space-S);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-S);
  pointer-events: none;
}

.mapTooltipLeft {
  transform: translate(calc(var(--space-S) * -1), var(--space-S));
}

.mapControls > * {
  pointer-events: auto;
}

.mapToggle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: auto;
  padding: 1.1rem var(--space-S);
  border: 1px solid rgba(var(--white-rgb), var(--opacity-border));
  border-radius: var(--border-radius-0);
  background-color: var(--color-primary-blue);
  animation: map-toggle-enter 250ms ease-out;
}

@keyframes map-toggle-enter {
  from {
    opacity: 0;
    transform: translate(-50%, -1rem);
  }
}

.mapLoading {
  position: absolute;
  inset: 0;
  height: auto;
  pointer-events: none;
}

.mapTooltip {
  position: absolute;
  transform: translate(var(--space-S), var(--space-S));
  max-width: 30rem;
  padding: var(--space-XS) var(--space-S);
  border-radius: var(--border-radius-0);
  background-color: var(--color-primary-blue);
  filter: var(--filter-drop-shadow-1);
  color: var(--color-white);
  font: var(--font-S);
  pointer-events: none;
}
