.layout {
  display: flex;
  align-items: flex-start;
}

.container {
  flex: 2;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-M);
  padding: var(--space-M);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-M);
}

.search {
  flex: 1;
  min-width: 24rem;
}

.typeChoice {
  flex: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: var(--space-M);
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
}

.thumbnail {
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
  border-radius: var(--border-radius-0);
}

.name {
  font: var(--font-L);
  color: var(--color-primary-blue);
}

.highlighted {
  background: var(--color-highlight-blue);
  box-decoration-break: clone;
}

.map {
  position: sticky;
  top: var(--space-M);
  flex: 1;
  height: calc(100dvh - var(--header-height) - 2 * var(--space-M));
  margin: var(--space-M) var(--space-M) var(--space-M) 0;
  border-radius: var(--border-radius-0);
  overflow: hidden;
  background-color: var(--color-map-background);
}

@media (width <= 1280px) {
  .map {
    display: none;
  }
}
