.title {
  display: flex;
  cursor: pointer;
}

.title > div {
  flex-grow: 1;
}

.toggle {
  align-self: flex-end;
}

.event {
  padding: var(--space-M) 0 var(--space-S) 0;
  margin-left: 0;
  border-top: var(--border);
}
