.container {
  padding: var(--space-XS) 0 var(--space-XS) 0;
  margin-left: 0;
}

.container:not(:last-child) {
  border-bottom: var(--border);
}

.title {
  display: flex;
}

.expandable {
  cursor: pointer;
}

.title > div {
  flex-grow: 1;
}

.toggle {
  align-self: flex-end;
}

.event {
  margin-left: 0;
}

.port_visit_entry {
  border-bottom: var(--border);
  margin-bottom: var(--space-XS);
}

.subtitle {
  color: var(--color-secondary-blue);
}
