.CategoryTabs {
  display: flex;
  flex-direction: column;
}

.tab {
  width: var(--sidebar-tabs-width);
  height: var(--sidebar-tabs-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:not(.current) {
  background-color: var(--color-terthiary-blue);
  border-right: var(--border);
}

.tab:not(:last-child) {
  border-bottom: var(--border);
}

.tab:not(.current):hover {
  background-color: var(--color-border);
}

.tab.secondary {
  border-bottom: none;
}

.tabContent {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  opacity: var(--opacity-secondary);
}

.tab.current .tabContent,
.tab:hover > .tabContent {
  background-color: transparent !important;
  opacity: var(--opacity-primary);
}

.separator {
  flex: 1;
  background-color: var(--color-terthiary-blue);
  border-right: var(--border);
}

.userButton,
.userButton a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.linksToggle {
  transition: all 200ms linear;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.links {
  display: none;
  position: absolute;
  padding: var(--space-S) 0;
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
  filter: var(--filter-drop-shadow);
  width: max-content;
  transform: translateY(50%);
  bottom: 50%;
  left: 5.1rem;
  border: var(--border);
}

.links > li {
  width: 100%;
}

.linksToggle:hover .links {
  display: flex;
}

.link {
  width: calc(100%);
  color: var(--color-secondary-blue);
  display: block;
  padding: var(--space-XS) var(--space-M);
  text-align: left;
  cursor: pointer;
  position: relative;
}

.links > li:not(:last-of-type) > .link::after {
  content: '';
  height: 1px;
  bottom: 0;
  position: absolute;
  left: var(--space-M);
  right: 0;
  background-color: var(--color-border);
}

.link:hover {
  color: var(--color-primary-blue);
  background-color: var(--color-terthiary-blue);
}
