.sidebarHeaderContainer {
  position: relative;
  z-index: 1;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  padding: 0 var(--space-S);
  border-bottom: var(--border);
  height: var(--header-height);
}

.groupOption {
  cursor: pointer;
  padding: var(--space-S);
  padding-right: var(--space-M);
}

.groupOption:not(:last-of-type) {
  border-bottom: var(--border);
}

.logoLink {
  line-height: 0;
  margin-right: auto;
}

.logo {
  width: 18rem;
  height: auto;
}

.sticky {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 3;
}

:global(.printing) .logo {
  margin-left: 0;
}

.searchOption {
  margin-right: var(--space-S);
}

.lngToggle {
  width: var(--size-SM);
  z-index: 2;
}

.userButton {
  width: var(--size-SM);
  height: var(--size-SM);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.userButton:hover {
  background-color: var(--color-terthiary-blue);
}

.disabled {
  color: var(--color-secondary-blue);
  cursor: not-allowed;
}

@media print {
  .logo {
    margin-left: 0;
  }

  .workspaceLink {
    display: none;
  }
}
