.sidebarHeader {
  display: flex;
  align-items: center;
  padding: 0 var(--space-S);
  border-bottom: var(--border);
  height: 5.2rem;
}

.logoLink {
  line-height: 0;
  margin-right: auto;
}

.logo {
  width: 18rem;
  height: auto;
}

.sticky {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 2;
}

:global(.printing) .logo {
  margin-left: 0;
}

.searchOption {
  margin-right: var(--space-S);
}

@media print {
  .logo {
    margin-left: 0;
  }

  .workspaceLink {
    display: none;
  }
}
