:root {
  /* COLORS */
  --timebar-main-background-color: #082b37;
  --timebar-main-border-color: #21404b;
  --timebar-secondary-background-color: #39555f;
  --timebar-ui-btn-color: rgb(18, 87, 111);
  --timebar-ui-btn-color-faded: rgba(18, 87, 111, 0.5);
  --timebar-ui-btn-color-hover: rgb(22, 118, 140);
  --timebar-main-background-color-white: rgba(79, 198, 215, 0.1);
  --timebar-main-background-color-white-overlay: #1d2a4b;
  --timebar-main-background-color-white-hover: rgba(79, 198, 215, 0.4);
  --timebar-cta-btn-color: #46b9b3;
  --timebar-cta-btn-hover: #50d4cd;
  --timebar-light-blue: #4fc6d7;
  --timebar-track-default: #fe81eb;
  --timebar-white: #fff;
  --timebar-white-faded: rgba(255, 255, 255, 0.6);

  /* TYPE */
  --timebar-font-family: 'PT Sans', sans-serif;
  --timebar-extra-large-font-size: 2rem;
  --timebar-font-size: 1.3rem;
  --timebar-font-weight: 500;
  --timebar-small-font-size: 1.2rem;

  /* Z */
  --timebar-z-handlers: 2;
  --timebar-z-highlighter-tooltips: 10;
  --timebar-z-timeline-bookmark: 98;
  --timebar-z-tooltips: 100;
  --timebar-z-date-selector: 999;

  /* OTHER */
  --timebar-hover-transition: all 150ms linear;
  --timebar-size: 7.2rem;
}

@media only screen and (width <= 800px) {
  :root {
    --timebar-size: 6rem;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .print-hidden {
    display: none !important;
  }
}
