.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  z-index: 100;
  height: calc(100% - 52px);
}

.table td {
  border: 1px solid rgba(22, 63, 137, 0.1);
  padding: auto;
}

.table tr td:last-child {
  border-right: none;
  padding: 0 1rem;
}

.table .head {
  background: rgb(var(--white-rgb), 1);
  height: var(--size-M);
  box-shadow: 0 2px 4px 0 rgba(22, 63, 137, 0.15);
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  z-index: 50;
}

.row .col,
.table .head div.col {
  flex: 1;
  align-self: center;
  width: 25%;
}

.row .col:last-child {
  padding-right: 40px;
}

.table .body {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

.iconRight {
  float: right;
}

.sortIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: var(--space-S) var(--space-XS) var(--space-S) var(--space-XS);
}

.sortIcon label {
  color: var(--color-primary-blue);
  font: var(--font-S);
}

.rowHover {
  background: rgba(22, 63, 137, 0.1);
}

.rowHidden {
  display: none;
}

.portSelector {
  border: none;
}

.alert {
  padding: var(--font-S);
  text-align: center;
}
