.iconButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--color-primary-blue);
  background-color: transparent;
}

.iconButton:focus {
  box-shadow: var(--box-shadow-highlight);
}

.default,
.warning,
.border{
  opacity: var(--opacity-secondary);
}

.border {
  border: var(--border);
}

.default:hover,
.default:focus,
.warning:hover,
.warning:focus,
.border:hover,
.border:focus {
  opacity: 1;
  background-color: var(--color-terthiary-blue);
}

.invert {
  color: rgba(var(--white-rgb), var(--opacity-secondary));
  background-color: rgba(var(--white-rgb), var(--opacity-terthiary));
}

.invert:hover,
.invert:focus {
  color: var(--color-white);
  background-color: rgba(var(--white-rgb), var(--opacity-border));
}

.map-tool {
  color: rgba(var(--white-rgb), var(--opacity-secondary));
  background-color: var(--color-primary-blue);
}

.map-tool:hover,
.map-tool:focus {
  color: var(--color-white);
  background-color: var(--color-primary-blue-hover);
}

.defaultSize {
  width: var(--size-M);
  height: var(--size-M);
}

.smallSize {
  width: var(--size-S);
  height: var(--size-S);
}

.tinySize {
  width: var(--size-XS);
  height: var(--size-XS);
}
