.container {
  padding: 1.5rem;
  border-bottom: var(--border);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row:not(:first-child) {
  margin-top: var(--space-S);
}

.row > div:not(:last-child) {
  margin-right: 2rem;
}

.full {
  flex: 1 1 0;
}

.half {
  flex: 6 1 0;
}

.thirdOfHalf {
  flex: 2 1 0;
}

.flexEnd {
  justify-content: flex-end;
}

.cta {
  min-width: 20rem;
}
