.searchbar {
  height: 70px;
  width: 100%;
  background-color: lightgray;
  display: flex;
}

.searchbar input {
  flex: 1;
  color: var(--color-primary-blue);
  padding: 0 var(--space-S);
  border: 0;
}

.searchbar input::placeholder {
  color: var(--color-secondary-blue);
}

.searchbar.searching {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(22, 63, 137, 0.2), 0 2px 10px 0 rgba(1, 37, 91, 0.15);
}

.searching input {
  background: #fff;
  color: var(--color-primary-blue);
  flex: 1;
  opacity: 1;
  font-size: 2.1rem;
  letter-spacing: 0;
  line-height: 2.4rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: var(--space-XS);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 1;
  position: relative;
  border-bottom: var(--border);
}

.searchButton {
  background: rgba(22, 63, 137, 0.1);
}
