.container {
  height: 100vh;
}

.splash {
  height: calc(100vh - 100px);
  padding: 5vh 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  position: relative;
  transform: translateZ(0);
  text-align: center;
  font: var(--font-XS);
}

.splash::before,
.splash::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.splash::before {
  width: 50%;
  height: 100vh;
  background: var(--white);
  border-radius: 10em 0 0 10em;
  box-shadow: 0 0 0 1px var(--white);
  top: 0;
  left: 0;
  transform-origin: 5em 5em;
  animation: load2 2s infinite ease 1.5s;
}

.splash::after {
  width: 50%;
  height: 100vh;
  background: var(--white);
  top: 0;
  left: 50%;
  transform-origin: 0 5em;
  animation: load2 2s infinite ease;
}

.vhLogo {
  padding: 0;
  display: block;
  margin: 5vh auto;
  max-height: 100%;
  max-width: 100%;
  width: 300px;
}

.secondary {
  position: fixed;
  bottom: 0;
  padding: 20px 0 42px;
  height: 100px;
  width: 100%;
  background: #fff;
  text-align: center;
}

.gfwLogo {
  max-height: 120%;
  max-width: 50%;
}

.tmtLogo {
  max-height: 100%;
  max-width: 50%;
}

.buttons {
  margin-top: 2rem;
}

.buttons > button:not(:last-child) {
  margin-right: 1rem;
}

.user {
  font-weight: bold;
}
