.container {
  position: relative;
}

.isOpen {
  background: var(--color-background);
  filter: var(--drop-shadow);
  z-index: 2;
}

.placeholderContainer {
  display: flex;
}

.tagList {
  border-bottom: 1px solid var(--color-secondary-blue);
}

.buttonsContainer {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.optionsContainer {
  width: 100%;
  position: absolute !important; /* as needs to overwrite default FixedSizeList behaviour */
  top: 4rem;
  left: 0;
  background: var(--color-white);
  max-height: 40rem;
  overflow: auto;
  z-index: 10;
}

.optionsOpen {
  border: var(--border);
}

.optionItem {
  color: var(--color-brand-secondary);
  line-height: 2rem;
  padding: var(--space-S);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlight {
  background-color: var(--color-terthiary-blue);
}

.selected {
  background-color: var(--color-terthiary-blue);
}
