.portLabel {
  line-height: 0.5;
  margin-top: var(--space-S);
}

.titleContainer {
  padding: var(--space-S) var(--space-M);
  border-bottom: var(--border);
}

.selector {
  padding: var(--space-M) var(--space-M) 0;
}

.container {
  padding: var(--space-M);
  border-bottom: var(--border);
}

.title {
  font: var(--font-L);
  font-size: 2.2rem;
}

.titleLabel {
  line-height: 0.5;
  margin-top: var(--space-S);
}

.summary {
  font: var(--font-L);
  color: var(--color-secondary-blue);
  margin-bottom: var(--space-M);
}

.summary strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  color: var(--color-danger-red);
}

.placeholder {
  padding-block: var(--space-XL);
}

.disclaimer {
  display: flex;
  align-items: flex-start;
  margin: var(--space-L) var(--space-M);
  font: var(--font-S);
  color: var(--color-secondary-blue);
}

.emptyState {
  padding: var(--space-L) var(--space-M);
  color: var(--color-secondary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-M);
  flex-direction: column;
}

.link {
  text-decoration: underline;
}

.cover {
  position: absolute;
  inset: 0;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--space-S);
  padding: var(--space-L);
  justify-content: center;
  align-items: center;
}

.top {
  justify-content: unset;
  padding-top: 12rem;
}
