.tableContainer {
  margin-top: 2.5rem;
  min-height: 42rem;
}

.vesselsTable {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: max-content 2fr max-content 2fr 2fr;
}

.spansFirstTwoColumns {
  grid-column: 1 / 3;
}

.header {
  text-align: left;
  font: var(--font-S);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
  display: flex;
  margin-right: 1rem;
}

.sortIcon:not(.active) {
  display: none;
}

.header:hover .sortIcon {
  display: block;
}

.vesselsTable > div:not(.header) {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 4rem;
  padding-block: 0.5rem;
}

.vesselsTable > div:not(.header, .icon) {
  overflow: hidden;
  padding-block: 0.8rem;
}

.vesselsTable > div:not(.header, .icon, .right) {
  padding-right: 1rem;
}

.right {
  margin-right: 0;
  text-align: right;
}

.border {
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.pointer {
  cursor: pointer;
}

.error {
  color: var(--color-secondary-blue);
  margin-bottom: var(--space-S);
}

.link {
  text-decoration: underline;
}
