.modalContent {
  height: 100%;
  padding: 0;
}

.container {
  padding: var(--space-M);
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
}

.link {
  text-decoration: underline;
}

.info {
  display: flex;
  gap: var(--space-S);
}

.footer {
  margin-top: auto;
  display: flex;
  gap: var(--space-S);
  align-items: center;
  justify-content: flex-end;
}

.downloadFooterContainer {
  height: 0;
  overflow: hidden;
  background-image: url('../../assets/images/download-popup.jpg');
  background-size: cover;
  transition: height 300ms ease-in-out;
}

.downloadFooterContainer.open {
  height: 11rem;
}

.downloadFooter {
  display: flex;
  flex-direction: column;
  padding: var(--space-S) var(--space-M);
}

.downloadLabel {
  margin-top: 0;
  margin-bottom: var(--space-XS);
  font: var(--font-XL);
  color: var(--color-white);
}

/* .modalContent .downloadFooter needed for specifity to override the ui-component */
.modalContent .downloadFooter .downloadBtn {
  background-color: var(--color-white);
  color: var(--default-color-blue);
  max-width: 24rem;
}

.modalContent .downloadFooter .downloadBtn:hover {
  background-color: var(--color-white);
}

.footerLabel {
  flex: 1;
  font: var(--font-S);
  line-height: 1;
  opacity: var(--opacity-secondary);
}

.error {
  color: var(--color-danger-red);
}
