.modalContent {
  height: 100%;
  padding: 0;
}

.container {
  padding: var(--space-M);
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
}

.info {
  display: flex;
  gap: var(--space-S);
}

.downloadBtn {
  margin-top: var(--space-M);
}

.footer {
  margin-top: auto;
  display: flex;
  gap: var(--space-S);
  align-items: center;
  justify-content: flex-end;
}

.footerLabel {
  flex: 1;
  font: var(--font-S);
  opacity: var(--opacity-secondary);
}

.error {
  color: var(--color-danger-red);
}
