.table {
  overflow-x: scroll;
}

.th {
  border-bottom: 1px solid var(--border-color);
  min-width: 30px;
  background: white;
}

.td {
  margin: 0;
  padding: 0.8rem 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  font-size: 1.4rem;
  border: 1px solid rgba(22, 63, 137, 0.1);
  text-transform: capitalize;
  align-content: center;
}

.checkbox {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid #d1d5db;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.checkbox:checked {
  background-color: rgba(22, 63, 137, 0.8);
  border-color: rgba(22, 63, 137, 0.1);
}

.checkbox:checked::after {
  content: '✓';
  position: absolute;
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
