.linksToggle {
  transition: all 200ms linear;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.links {
  display: none;
  position: absolute;
  padding: var(--space-S) 0;
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
  filter: var(--filter-drop-shadow);
  width: max-content;
  transform: translateY(50%);
  bottom: 50%;
  left: 5.1rem;
  border: var(--border);
}

.links > li {
  width: 100%;
}

.linksToggle:hover .links {
  display: flex;
}

.link {
  width: calc(100%);
  color: var(--color-secondary-blue);
  display: block;
  padding: var(--space-XS) var(--space-M);
  text-align: left;
  cursor: pointer;
  position: relative;
}

.links > li:not(:last-of-type) > .link::after {
  content: '';
  height: 1px;
  bottom: 0;
  position: absolute;
  left: var(--space-M);
  right: 0;
  background-color: var(--color-border);
}

.link:hover {
  color: var(--color-primary-blue);
  background-color: var(--color-terthiary-blue);
}

.hintsTooltip {
  display: block;
  position: relative;
  padding-right: 2rem;
}

.hintsTooltip::before {
  content: '';
  position: absolute;
  right: 0.6rem;
  bottom: 1.6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color-help-yellow);
  border: 1px solid var(--color-primary-blue);
  animation: pulseLight 2s infinite;
}

div.HintPanel {
  border: 1px solid var(--color-help-yellow);
  background: var(--color-help-yellow);
  border-radius: 0.4rem;
}

.container {
  width: 24rem;
}

.img {
  background: var(--color-map-background);
  border-radius: 0.3rem 0.3rem 0 0;
  vertical-align: middle;
}

.content {
  padding: var(--space-SM);
  text-transform: none;
  color: var(--color-primary-blue);
  font: var(--font-S);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--space-S);
}

.footer .footerBtn,
.footer .footerBtn:hover,
.footer .footerBtn:focus,
.footer a.footerBtn,
.footer a.footerBtn:visited {
  height: var(--size-S);
  background: none;
  color: var(--color-secondary-blue);
  min-width: min-content;
  padding: 0 var(--space-XS);
  font: var(--font-XS);
}

.hintTarget {
  position: absolute;
  cursor: pointer;
}

.hintBubble {
  position: absolute;
  width: var(--size-SM);
  height: var(--size-SM);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  background: var(--color-help);
  border: 1px solid var(--color-veil);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms linear;
}

.hintBubble .icon {
  opacity: var(--opacity-secondary);
  transition: opacity 150ms linear;
}

.hintTarget:hover .icon {
  opacity: 1;
}

.hintTarget:hover .hintBubble {
  transform: translate(-50%, -50%) scale(1);
}

.light {
  animation: pulseLight 2s infinite;
}

.dark {
  animation: pulseDark 2s infinite;
}

.pulseDarkOnce {
  animation: pulseDark 2s 2;
}

@keyframes pulseLight {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--help-yellow-rgb), 0.7);
  }

  70% {
    box-shadow: 0 0 0 1rem rgba(var(--help-yellow-rgb), 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(var(--help-yellow-rgb), 0);
  }
}

@keyframes pulseDark {
  0% {
    box-shadow: 0 0 0 0 rgba(22, 63, 137, 0.7);
  }

  70% {
    box-shadow: 0 0 0 1rem rgba(22, 63, 137, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(22, 63, 137, 0);
  }
}

@media only screen and (width <= 800px) {
  .hintTarget {
    display: none;
  }
}
