.wrapper {
  position: relative;
  background-color: color-mix(in srgb, rgba(var(--primary-blue-rgb)) 10%, white);
  z-index: 5;
}

.saveIcon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

.saveBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-M);
  height: var(--size-M);
  border-radius: 50%;
  background-color: var(--color-white);
}

.openFileAnimation {
  animation: openFile 3.4s ease-in-out;
  transform-origin: bottom center;
}

.animating {
  animation: save 3.4s cubic-bezier(0.22, 1, 0.36, 1) forwards 0.6s;
}

@keyframes save {
  0% {
    transform: translate(5rem, -5rem) scale(0.4);
    opacity: 0;
  }

  15% {
    transform: translate(5rem, -5rem) scale(1);
    opacity: 1;
  }

  55% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
}

@keyframes openFile {
  0%,
  100% {
    transform: skew(0, 0) scaleY(1);
    filter: none;
    box-shadow: none;
  }

  50% {
    transform: skew(-15deg, 0) scaleY(0.85);
    box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(-4px -4px 12px rgba(0, 0, 0, 0.25));
  }
}

@media (prefers-reduced-motion: reduce) {
  .animating {
    animation: none;
  }
}
