html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 1px 1px;
  grid-template-areas: "map" "timebar";
}

.timebar { grid-area: timebar; }

.map { grid-area: map; height: 100%; }

.control-buttons {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: .4rem;
}

fieldset {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0 1rem 0 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}