.sidebarHeader {
  background-color: var(--color-white);
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 0 var(--space-S) 0 var(--space-M);
  height: var(--header-height);
  text-transform: uppercase;
  border-bottom: var(--border);
}
