:global(:root) {
  --print-width: 17in;
  --print-height: 10in;
}

:global(.printing .print-hidden) {
  display: none !important;
}

:global(#root) {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editorModal {
  height: 60rem;
}

@media print {
  :global(*) {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  :global(.print-hidden) {
    display: none !important;
  }
}
