:global(#root) {
  height: 100%;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.placeholder > div {
  padding: var(--space-L);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media print {
  :global(.print-hidden) {
    display: none !important;
  }
}
