.tableContainer {
  margin-top: 1.5rem;
  min-height: 42rem;
}

.vesselsTable {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: max-content 2fr max-content 2fr max-content;
}

.vesselsTableWithValue {
  grid-template-columns: max-content 2fr max-content 2fr 2fr max-content;
}

.spansFirstTwoColumns {
  grid-column: 1 / 3;
}

.header {
  text-align: left;
  font: var(--font-S);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.vesselsTable > div:not(.header) {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 4rem;
  padding-block: 0.5rem;
}

.vesselsTable > div:not(.header, .icon) {
  overflow: hidden;
  padding-block: 0.8rem;
}

.vesselsTable > div:not(.header, .icon, .right) {
  padding-right: 1rem;
}

.right {
  text-align: right;
}

.border {
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.pointer {
  cursor: pointer;
}

.error {
  color: var(--color-secondary-blue);
  margin-bottom: var(--space-S);
}

.link {
  text-decoration: underline;
}

.pinAllLoading {
  margin-right: 4px;
}

.cover {
  position: absolute;
  inset: 0;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--space-S);
  padding: var(--space-L);
  justify-content: center;
  align-items: center;
}

.top {
  justify-content: unset;
  padding-top: 12rem;
}

.sortIcon {
  visibility: hidden;
}

.header:hover .sortIcon {
  visibility: visible;
}

.active {
  visibility: visible;
}
