.container {
  padding: var(--space-SM);
  border-bottom: var(--border);
}

.titleRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleRow > * {
  flex: 1;
}
