.container {
  padding: 1.5rem;
  background: var(--color-white);
  border-bottom: var(--border);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-S);
  flex-wrap: wrap;
}

.row:not(:first-child) {
  margin-top: var(--space-S);
}

.full {
  flex: 1 1 0;
}

.width6ch {
  width: calc(6ch + var(--space-M));
}

.width7ch {
  width: calc(7ch + var(--space-M));
}

.width8ch {
  width: calc(8ch + var(--space-M));
}

.flexEnd {
  justify-content: flex-end;
}

.cta {
  min-width: 16rem;
}

@media only screen and (min-width: 1000px) {
  .container {
    border-bottom: none;
    border-right: var(--border);
    flex: 0 0 33%;
    overflow-y: auto;
  }

  .full,
  .width6ch,
  .width7ch,
  .width8ch {
    min-width: 100%;
  }
}
