.content-markdown {
  --th-background: #fff;
  --th-token: #24292f;
  --th-attr: #0550ae;
  --th-code-inline: #953800;
  --th-command: #8250df;
  --th-comment: #6e7781;
  --th-deleted: #cf222e;
  --th-function: #8250df;
  --th-heading: #0550ae;
  --th-inserted: #1a7f37;
  --th-keyword: #cf222e;
  --th-link: #0969da;
  --th-literal: #0550ae;
  --th-meta: #57606a;
  --th-number: #0550ae;
  --th-operator: #8250df;
  --th-property: #0550ae;
  --th-selector: #116329;
  --th-string: #0a7f64;
  --th-tag: #116329;
  --th-type: #953800;
  --th-variable: #953800;
}

.content-markdown img {
  max-width: 100%;
}

.content-markdown iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
}

.content-markdown div:has(> iframe) {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.content-markdown pre.tm-code {
  overflow-x: auto;
  padding: 1rem;
  background: var(--th-background);
  color: var(--th-token);
}

.th-token {
  color: var(--th-token);
}

.th-keyword {
  color: var(--th-keyword);
}

.th-string {
  color: var(--th-string);
}

.th-comment {
  color: var(--th-comment);
}

.th-function {
  color: var(--th-function);
}

.th-type {
  color: var(--th-type);
}

.th-property {
  color: var(--th-property);
}

.th-tag {
  color: var(--th-tag);
}

.th-attr {
  color: var(--th-attr);
}

.th-literal {
  color: var(--th-literal);
}

.th-number {
  color: var(--th-number);
}

.th-variable {
  color: var(--th-variable);
}

.th-operator {
  color: var(--th-operator);
}

.th-inserted {
  color: var(--th-inserted);
}

.th-deleted {
  color: var(--th-deleted);
}

.th-meta {
  color: var(--th-meta);
}

.th-heading {
  color: var(--th-heading);
}

.th-link {
  color: var(--th-link);
}

.th-code-inline {
  color: var(--th-code-inline);
}

.th-selector {
  color: var(--th-selector);
}

.th-command {
  color: var(--th-command);
}

.th-line {
  display: inline-block;
  min-width: 100%;
  width: max-content;
}

.content-markdown .tm-code--line-numbers code {
  counter-reset: th-line;
}

.content-markdown .tm-code--line-numbers .th-line::before {
  display: inline-block;
  width: 2.5em;
  padding-right: 1em;
  color: var(--th-comment);
  content: attr(data-line);
  text-align: right;
  user-select: none;
}
