{
  "*.{css,scss}": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged"
  ]
}
