.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapContainer {
  height: calc(100vh - var(--footer-height));
}

.withTimebar {
  height: calc(100vh - var(--footer-height) - var(--timebar-height));
}
