.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapContainer {
  height: calc(calc(var(--vh, 1vh) * 100) - var(--footer-height));
}

.withTimebar {
  height: calc(calc(var(--vh, 1vh) * 100) - var(--footer-height) - var(--timebar-height));
}
