.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapContainer {
  height: calc(100vh - var(--footer-height));
}

.withTimebar {
  height: calc(100vh - var(--footer-height) - var(--timebar-height));
}

.editorModal {
  height: 60rem;
}

.bqModal {
  height: 56rem;
}
