.errorBoundary {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorBoundary > * {
  margin-bottom: 2rem;
}

.title {
  font: var(--font-L);
}

.error {
  font-family: 'Courier New', Courier, monospace;
}

.mailto a {
  text-decoration: underline;
}
