.errorBoundary {
  margin: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorBoundary > * {
  margin-bottom: 2rem;
}

.title {
  font: var(--font-L);
}

.error {
  font-family: 'Courier New', Courier, monospace;
  max-width: 80%;
  max-height: 300px;
  overflow: auto;
  margin: 0 auto;
}

.mailto a {
  text-decoration: underline;
}
