.search {
  display: flex;
  flex-direction: column;
  height: calc(100% - 52px);
  z-index: 0;
  position: relative;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  gap: var(--space-S);
  padding: var(--space-S);
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: transform 300ms ease-in-out;
}

.hidden {
  transform: translateY(100%);
}

.footerAction {
  flex: 1;
}

.groupOptions {
  padding: var(--space-S);
  padding-right: 0;
}

.groupOption {
  cursor: pointer;
  padding: var(--space-XS);
  padding-right: var(--space-M);
}

.groupOptionNew {
  text-decoration: underline;
}

.groupOption:not(:last-of-type) {
  border-bottom: var(--border);
}
