.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--space-M);
  color: var(--color-secondary-blue);
}

.emptyState p:not(:last-child) {
  margin-bottom: var(--space-S);
}

.emptyState code {
  font-style: italic;
}

.vesselImage {
  height: 14rem;
  display: block;
  margin: 0 auto;
  margin-bottom: var(--space-L);
}

.bold {
  font-weight: 500;
}

.link {
  text-decoration: underline;
}

.noResultsImage {
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.inlineIcon {
  height: 1em;
}
