.searchResult {
  position: relative;
  padding: var(--space-M);
  transition: background-color 150ms linear, box-shadow 150ms linear, border 150ms linear;
  border-bottom: var(--border);
}

.searchResult:not(.inWorkspace):hover,
.searchResult:not(.inWorkspace).highlighted,
.selected {
  background: var(--color-terthiary-blue);
}

.selectedIcon {
  cursor: pointer;
  opacity: 1;
  background: var(--color-terthiary-blue);
  border: none;
}

.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.inWorkspace {
  color: var(--color-secondary-blue);
  cursor: default;
}

.alreadyAddedMsg {
  display: flex;
  align-items: center;
  font: var(--font-S);
}

.properties {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: var(--opacity-secondary);
  transition: opacity 150ms linear;
  width: 100%;
}

.property {
  margin-right: var(--space-M);
  margin-top: var(--space-S);
}

.property label {
  line-height: 1;
}

.property span {
  white-space: nowrap;
}

.fullWidth {
  flex: 1;
}

.searchResult:not(.inWorkspace):hover .properties,
.searchResult:not(.inWorkspace):hover .properties label {
  opacity: var(--opacity-primary);
}

.link {
  cursor: pointer;
  text-decoration: underline;
}
