.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100% - var(--header-height));
  padding: var(--space-M);
  color: var(--color-secondary-blue);
}

.emptyState p:not(:last-child) {
  margin-bottom: var(--space-S);
}

.emptyState code {
  font-style: italic;
}

.vesselImage {
  height: 14rem;
  display: block;
  margin: 0 auto;
  margin-bottom: var(--space-L);
}

.noResultsImage {
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.inlineIcon {
  height: 1em;
}

.description {
  max-width: 70rem;
  text-align: center;
}

.highlighted {
  background: var(--color-terthiary-blue);
  padding: var(--space-XS) var(--space-S);
  border-radius: var(--border-radius);
  width: max-content;
  margin: var(--space-L) auto;
}

.highlighted a {
  text-decoration: underline;
}
