.modal {
  border-radius: 4px;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  position: relative;
}

.input {
  margin-bottom: var(--space-M);
}

.inputFullWidth {
  flex: 1;
}

.mediumInput {
  width: 10rem;
  margin-left: var(--space-S);
  margin-right: var(--space-S);
}

.noLabelInput {
  margin-top: auto;
  margin-bottom: 0;
}

.selectLabel {
  position: absolute;
  top: 0;
  left: 0;
}

.selectShort {
  margin-top: 2.5rem;
  margin-right: 1rem;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalContainer {
  height: 54rem;
  display: flex;
  flex-direction: column;
}

.footerMsg {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hint {
  color: var(--color-secondary-blue);
  text-decoration: underline;
}

.errorMsg {
  color: var(--color-danger-red);
}

.modalContent {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.datasetConfig {
  flex: 1;
  margin-left: var(--space-S);
  display: flex;
  flex-direction: column;
}

.selectContainer {
  flex: 1;
}

.shortSelect,
.shortSelect:hover {
  width: 15rem;
}

.multipleSelectContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.spinnerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
