.tabContainer {
  margin: var(--space-S);
  margin-bottom: var(--space-L);
}

.singleTabContainer {
  margin: var(--space-S);
  margin-bottom: var(--space-L);
  border-radius: var(--border-radius-1);
  background-color: var(--color-off-white);
  box-shadow: var(--box-shadow-1);
}

.container {
  padding: var(--space-SM);
}

.subsectionSelectorContainer {
  padding: var(--space-SM);
  padding-bottom: 0;
}

.error {
  width: 100%;
  text-align: center;
  padding: 6rem var(--space-L);
  color: var(--color-danger-red);
  max-width: 50rem;
  margin: 0 auto;
}

.link {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--color-primary-blue);
  text-decoration: underline;
}

.secondary {
  color: var(--color-secondary-blue);
}

.cover {
  position: absolute;
  inset: 0;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--space-S);
  padding: var(--space-L);
  justify-content: center;
  align-items: center;
}

.center strong {
  font-weight: 500;
}

.top {
  justify-content: unset;
  padding-top: 12rem;
}

@media print {
  .tabContainer {
    display: none;
  }
}
