.bivariateToggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bivariateToggleContainer::before {
  content: '';
  position: absolute;
  left: var(--space-S);
  bottom: 1.3rem;
  height: 0.1rem;
  width: calc(50% - 2.3rem);
  background-color: var(--color-border);
  z-index: -1;
}

.bivariateToggleContainer::after {
  content: '';
  position: absolute;
  left: calc(50% + 1.3rem);
  bottom: 1.3rem;
  height: 0.1rem;
  width: calc(50% - 1.3rem);
  background-color: var(--color-border);
  z-index: -1;
}

.legendContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.legend {
  flex: 1;
}

.bivariateSplit {
  margin-top: 2.4rem;
}
