.container {
  flex: 1;
  height: calc(100% - 9.6rem);
}

.screenshot {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

:global(.printing) .screenshot {
  display: block !important;
}

@media print {
  .screenshot {
    display: block;
  }
}

:global(.mapboxgl-control-container .mapboxgl-ctrl.mapboxgl-ctrl-attrib) {
  padding-right: var(--space-XS);
  padding-bottom: var(--space-XS);
  font: var(--font-XS);
  background: none;
  color: var(--color-white);
  opacity: var(--opacity-secondary);
}

:global(.mapboxgl-control-container .mapboxgl-ctrl.mapboxgl-ctrl-attrib a) {
  color: var(--color-white);
  opacity: var(--opacity-secondary);
}
