.popup {
  font: var(--font-S);
  pointer-events: all;
}

.hover {
  transform: translate(50%, var(--space-M));
  background: var(--color-primary-blue);
  color: var(--color-white);
  max-width: 32rem;
}

.click {
  background: var(--gradient);
  color: var(--color-primary-blue);
  box-shadow: var(--box-shadow);
  width: 32rem;
}

.hover .popupSection {
  padding: var(--space-XS) var(--space-S);
  border: var(--border-white);
  display: flex;
}

.click .popupSection {
  padding: var(--space-S);
  border: var(--border);
  display: flex;
}

.hover .popupSection:not(:last-child),
.click .popupSection:not(:last-child) {
  border-bottom: none;
}

.popupSectionColor {
  display: inline-block;
  margin-top: var(--space-XS);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  margin-right: var(--space-XS);
  border: var(--border);
}

.popupSectionContent {
  flex: 1
}

.popupSectionTitle {
  opacity: var(--opacity-secondary);
}

.loading {
  min-height: 4rem;
  padding: var(--space-S);
}

.vesselsTable {
  padding-top: var(--space-S);
}

.vesselsHeader {
  display: flex;
  justify-content: space-between;
}

.vesselsHeaderLabel {
  font: var(--font-XS);
}

.vesselRow {
  color: currentColor;
  width: 100%;
  cursor: pointer;
  display: flex;
}

.vesselName {
  flex: 1;
  text-align: left;
}

.vesselsMore {
  opacity: var(--opacity-secondary);
}

:global(.mapboxgl-popup .mapboxgl-popup-content) {
  background: none;
  padding: 0;
  border: none;
  margin-top: var(--space-XS);
}

:global(.mapboxgl-popup .mapboxgl-popup-close-button) {
  width: var(--size-S);
  height: var(--size-S);
  border-radius: 50%;
  color: currentColor;
  font: var(--font-L);
  line-height: 1;
  opacity: .5;
  margin: var(--space-XS);
  transition: opacity 150ms linear, background-color 150ms linear;
  z-index: 1;
}

:global(.mapboxgl-popup .mapboxgl-popup-close-button:hover) {
  opacity: 1;
  background-color: var(--color-terthiary-blue);
}

:global(.mapboxgl-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip),
:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip),
:global(.mapboxgl-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip),
:global(.mapboxgl-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip),
:global(.mapboxgl-popup.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip),
:global(.mapboxgl-popup.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip),
:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip),
:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip) {
  border: none;
}

