.settingsContainer {
  height: 100%;
}

.settingsHeader {
  height: var(--header-height);
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(22, 63, 137, 0.2), 0 2px 10px 0 rgba(1, 37, 91, 0.15);
  display: flex;
  align-items: center;
}

.settingsHeader h1 {
  display: inline-block;
  color: #22447e;
  font: var(--font-L);
  margin: var(--space-XS);
}

.settingsContainer ul {
  margin: 0;
  cursor: pointer;
}

.switchRow {
  display: flex;
}

.settingsContainer ul li {
  height: var(--size-M);
  vertical-align: middle;
  border-bottom: 1px solid rgba(34, 68, 126, 0.1);
  color: #163f89;
  font: var(--font-S);
  line-height: var(--size-M);
  padding: 0 var(--space-S);
}

.settingsContainer ul li:last-child {
  border-bottom: none;
}

.settingsContainer ul li button {
  float: right;
}

.backButton {
  margin: 0.5rem;
}

.settingsHeader .infoIcon {
  position: absolute;
  right: var(--space-S);
}
