.container {
  position: absolute;
  right: 1rem;
  bottom: 1.6rem;
  z-index: 100;
}

.container h1 {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin: 0 0 var(--space-SM);
  text-transform: uppercase;
}

.optionsContainer {
  position: absolute;
  padding: var(--space-SM) var(--space-M);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-2);
  border-radius: var(--border-radius-1);
  bottom: 5rem;
  right: 0;
  white-space: nowrap;
}

.optionsContainer::after {
  content: '';
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  background-color: var(--color-white);
  position: absolute;
  right: var(--space-SM);
  bottom: -0.5rem;
}

.radiosContainer > * {
  margin: 0 0 1rem;
}

.icon {
  margin-right: 0.5rem;
}

.iconDisabled {
  opacity: 0.5;
}
