.container {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-S) var(--space-M);
  border-bottom: var(--border);
}

.graphContainer {
  padding: var(--space-M);
  border-bottom: var(--border);
}

.name {
  font: var(--font-L);
  font-weight: 700;
  font-family: var(--secondary-font-family);
}

.unit {
  margin-left: var(--space-S);
  opacity: var(--opacity-secondary);
}
