.graph {
  padding: var(--space-M) 0;
  min-height: 28rem;
}

.tooltipContainer {
  background-color: var(--color-white);
  border: var(--border);
  padding: var(--space-S);
}

.tooltipRow {
  display: flex;
  align-items: center;
}

.tooltipLabel {
  color: var(--color-secondary-blue);
}

.tooltipValueDot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  display: inline-flex;
  border: var(--border);
  background-color: currentcolor;
  margin-right: 0.5rem;
}
