.button {
  position: relative;
  text-transform: uppercase;
  font: var(--font-XS);
  z-index: 1;
}

.list {
  position: absolute;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(22, 63, 137, 0.2), 0 2px 10px 0 rgba(1, 37, 91, 0.15);
  font: var(--font-XS);
  list-style-type: none;
  text-align: left;
  top: calc(var(--header-height) - 1.5rem);
  right: 0;
  padding: var(--space-S);
  width: 30rem;
}

.buttons {
  padding-top: var(--space-XS);
}
