.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.AOIWrapper {
  margin-bottom: var(--space-M);
  display: flex;
  align-items: flex-end;
}

.AOIWrapper div:first-child {
  flex: 1;
  margin-right: var(--space-S);
}

.input {
  margin-bottom: var(--space-M);
}

.saveBtn {
  margin-top: auto;
  align-self: flex-end;
}

.error {
  color: var(--color-danger-red);
}
