.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

.currentEditors {
  margin-bottom: var(--space-M);
}

.newEditors {
  display: flex;
  align-items: flex-end;
}

.newEditors div:first-child {
  flex: 1;
  margin-right: var(--space-S);
}

