.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

.titleLink {
  text-align: left;
  flex: 1;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rightSide {
  display: block;
  margin: var(--space-S) 0 var(--space-M) auto;
}
