.flex {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside,
.main {
  --aside-width: 28rem;
}

.aside {
  top: 6rem;
  left: var(--space-M);
  width: var(--aside-width);
  height: calc(100vh - 6rem);
  overflow: auto;
  position: fixed;
  border-right: var(--border);
  padding-block: 1rem;
}

.main {
  flex: 1 1;
  padding-left: calc(var(--space-M) + var(--aside-width));
  padding-top: 6rem;
}
