.scrollContainer {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.form {
  padding: var(--space-S);
  z-index: 1;
}

.input input {
  padding: 0 7rem 0 var(--space-SM);
  border-radius: var(--border-radius);
  background: var(--color-terthiary-blue);
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.input input:placeholder-shown {
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.input > *:last-child {
  right: var(--space-SM);
  bottom: 50%;
  margin: 0;
  transform: translateY(50%);
}

.searchResults {
  flex: 1;
  min-height: 40rem;
  position: relative;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  padding-bottom: 5rem;
}

.error {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: var(--color-danger-red);
}

.searchSuggestion {
  display: flex;
  padding: var(--space-S);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1;
}

.suggestion {
  margin: 0 3px;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.link {
  text-decoration: underline;
}
