.searchResult {
  position: relative;
  padding: var(--space-M);
  transition: background-color 150ms linear, box-shadow 150ms linear, border 150ms linear;
  border-bottom: var(--border);
}

.searchResult.highlighted:has(.icon:hover),
.selected {
  background: var(--color-terthiary-blue);
}

.icon {
  border: 1px solid var(--color-secondary-blue);
  top: 3px;
}

.selectedIcon {
  cursor: pointer;
  opacity: 1;
  background: var(--color-terthiary-blue);
  border: var(--border);
}

.container {
  display: flex;
  gap: var(--space-SM);
}

.inWorkspace {
  color: var(--color-secondary-blue);
  cursor: default;
}

.secondary {
  color: var(--color-secondary-blue);
}

.alreadyAddedMsg {
  display: flex;
  align-items: center;
  font: var(--font-S);
}

.properties {
  display: flex;
  gap: var(--space-S) var(--space-M);
  flex-wrap: wrap;
  opacity: var(--opacity-secondary);
  transition: opacity 150ms linear;
  width: 100%;
}

.name {
  margin-bottom: var(--space-S);
}

.name a {
  cursor: pointer;
  text-decoration: underline;
}

.advancedName {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.property label {
  height: 1rem;
  display: flex;
  align-items: center;
}

.property span {
  white-space: nowrap;
}

.fullWidth {
  flex: 1;
}

.selected .properties,
.selected .properties label,
.searchResult.highlighted:has(.icon:hover) .properties,
.searchResult.highlighted:has(.icon:hover) .properties label {
  opacity: var(--opacity-primary);
}

.cellFilter {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.cellFilterBtn {
  position: absolute;
  right: 0;
  top: 1rem;
  display: none;
  cursor: pointer;
  background-color: white;
  opacity: 1;
}

.cellFilter .cellFilterBtn:hover {
  background-color: white;
  opacity: 1;
}

.cellFilter:hover .cellFilterBtn {
  display: block;
}

.transmissionDates {
  width: 100%;
}
