.cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
}

.card {
  background: var(--white);
  box-shadow:
    0 2px 4px 0 rgb(34, 68, 126, 0.2),
    0 7px 15px 0 rgb(34, 68, 126, 0.1);
  height: 36rem;
  padding: 2rem 1.5rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font: var(--GFW-font-L);
  margin-bottom: 1rem;
}

.searchInput {
  width: 35rem;
}

.topBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  align-items: center;
}

.loggedIn {
  text-align: end;
  max-width: 50rem;
  line-height: 20px;
  opacity: 0.65;
}

.loggedOut {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tag {
  margin-top: 1.5rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--color-terthiary-blue);
}

.description {
  flex: 1;
  color: var(--secondary-color);
  max-height: calc(12em);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.5em;
  position: relative;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.seeMore {
  font: var(--GFW-font-S);
  font-weight: var(--GFW-font-medium);
  color: var(--link-color);
  padding: 0.3rem;
}

.seeMore:hover {
  color: var(--link-hover-color);
}
