:root {
  --miniglobe-bg-color: #011137;
  --miniglobe-fg-color: #99d3e1;
  --miniglobe-viewport-color: #f00;
}

.globeBackground {
  fill: var(--miniglobe-fg-color);
  stroke: none;
}

.globeSvg {
  fill: var(--miniglobe-bg-color);
  stroke: none;
}

.viewport {
  fill: none;
  stroke: var(--miniglobe-viewport-color);
}
