.container {
  display: flex;
  max-height: 30rem;
  z-index: 20;
  overflow-y: auto;
}

.loadingPlaceholder {
  height: 5rem;
}

.listContainer {
  padding: var(--space-S);
  padding-right: 0;
}

.dataset {
  cursor: pointer;
  padding: var(--space-XS);
  padding-right: var(--space-M);
  border-bottom: var(--border);
}

.create {
  color: var(--color-secondary-blue);
  text-decoration: underline;
}
