.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  position: relative;
}

.input {
  margin-bottom: var(--space-M);
}

.inputFullWidth {
  flex: 1;
}

.shortInput {
  width: var(--size-L);
  margin-left: var(--space-S);
  margin-right: var(--space-S);
}

.mediumInput {
  width: 10rem;
  margin-left: var(--space-S);
  margin-right: var(--space-S);
}

.noLabelInput {
  margin-top: auto;
  margin-bottom: 0;
}

.selectLabel {
  position: absolute;
  top: 0;
  left: 0;
}

.selectShort {
  margin-top: 2.5rem;
  margin-right: 1rem;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalContainer {
  height: 54rem;
  display: flex;
  flex-direction: column;
}

.footerMsg {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hint {
  color: var(--color-secondary-blue);
  text-decoration: underline;
}

.errorMsg {
  color: var(--color-danger-red);
}

.modalContent {
  display: flex;
  flex: 1;
}

.dropFiles {
  flex: 1;
  margin-right: var(--space-S);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-M);
  text-align: center;
  background: var(--color-terthiary-blue);
  border: 0.2rem dotted var(--color-secondary-blue);
  color: var(--color-secondary-blue);
  font: var(--font-S);
  border-radius: 3px;
  margin-bottom: var(--space-L);
  cursor: pointer;
}

.datasetConfig {
  flex: 1;
  margin-left: var(--space-S);
  display: flex;
  flex-direction: column;
}

.dropFiles:hover {
  border-style: solid;
}

.fileAccepted {
  flex: 0.5;
}

.fileText {
  line-height: 1.2;
  margin-top: var(--space-S);
  max-width: 30rem;
}

.selectContainer {
  flex: 1;
}

.shortSelect,
.shortSelect:hover {
  width: 15rem;
}

.warning {
  color: var(--color-danger-red);
}

.multipleSelectContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
