.container {
  display: flex;
  max-height: 20rem;
  z-index: 20;
  overflow-y: auto;
}

.loadingPlaceholder {
  height: 5rem;
}


.dataset {
  cursor: pointer;
}

.create {
  text-decoration: underline;
}
