BASIC_AUTH_PASS=default
BASIC_AUTH_USER=gfw
BASIC_AUTH="Restricted"
NEXT_PUBLIC_API_GATEWAY=https://gateway.api.dev.globalfishingwatch.org
NEXT_PUBLIC_GOOGLE_MEASUREMENT_ID=G-xxxxxxxxxx
NEXT_PUBLIC_LIMITED_ACCESS_USER=false
NEXT_PUBLIC_TMT_CONTACT_US_URL=https://urltotmtcontactusform.org/somepath?key=somekey
NEXT_PUBLIC_URL=/vessel-viewer
NEXT_PUBLIC_WORKSPACE_ENV=development
NEXT_PUBLIC_WORKSPACES_SPREADSHEET_ID=xxxxxxxxxxxxxxxxxxxxxxxx
NX_CLOUD_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
