.vesselItem {
  cursor: pointer;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(22, 63, 137, 0.1);
}
.vesselItem h3 {
  color: #163f89;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 2.1rem;
  margin-bottom: 1rem;
}

.deleteSaved {
  float: right;
  background-color: rgba(22, 63, 137, 0.1);
  color: #fa5e5e;
}

.identifiers {
  overflow: hidden;
}

.identifiers div {
  float: left;
  opacity: 0.65;
  color: #163f89;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.7rem;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}

.vesselItemWrapper .remove {
  position: absolute;
  right: var(--space-S);
  background-color: rgba(var(--danger-red-rgb), var(--opacity-terthiary));
}

.vesselItemWrapper .remove:focus:not(:disabled),
.vesselItemWrapper .remove:active:not(:disabled),
.vesselItemWrapper .remove:hover:not(:disabled) {
  background-color: rgba(var(--danger-red-rgb), var(--opacity-border));
}
