
.vesselItem {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(22, 63, 137, 0.1);
}
.vesselItem h3 {
    color: #163F89;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 10px;
}

.deleteSaved {
    float: right;
    background-color: rgba(22, 63, 137, 0.1);
    color: #FA5E5E;
}

.identifiers{
    overflow: hidden;

}

.identifiers div{
    float: left;
    opacity: 0.65;
    color: #163F89;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    margin-right: 30px;
    margin-bottom: 15px;
}
