.vesselItem {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(22, 63, 137, 0.1);
}
.vesselItem h3 {
  color: #163f89;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 10px;
}

.deleteSaved {
  float: right;
  background-color: rgba(22, 63, 137, 0.1);
  color: #fa5e5e;
}

.identifiers {
  overflow: hidden;
}

.identifiers div {
  float: left;
  opacity: 0.65;
  color: #163f89;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.vesselItem .remove {
  float: right;
  background-color: rgba(var(--danger-red-rgb), var(--opacity-terthiary));
}

.vesselItem .remove:focus:not(:disabled),
.vesselItem .remove:active:not(:disabled),
.vesselItem .remove:hover:not(:disabled) {
  background-color: rgba(var(--danger-red-rgb), var(--opacity-border));
}
