.tableContainer {
  margin-top: 2.5rem;
  min-height: 42rem;
}

.vesselsTable {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  text-align: left;
  font: var(--font-S);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
}

.vesselsTable > div:not(.header) {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 4rem;
  padding-block: 0.5rem;
}

.vesselsTable > div:not(.header, .icon) {
  overflow: hidden;
  padding-block: 0.8rem;
}

.vesselsTable > div:not(.header, .icon, .right) {
  padding-right: 1rem;
}

.right {
  text-align: right;
}

.border {
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.pointer {
  cursor: pointer;
}

.error {
  color: var(--color-secondary-blue);
  margin-bottom: var(--space-S);
}

.link {
  text-decoration: underline;
}
