.HintPanel {
  border: 1px solid var(--color-help);
  background: var(--color-help);
  border-radius: 0.4rem;
}

.hintsHub {
  transition: all 200ms linear;
}

.container {
  width: 24rem;
}

.arrow::before {
  display: none;
}

.img {
  width: 24rem;
  height: 16rem;
  background: var(--color-map-background);
  border-radius: 0.3rem 0.3rem 0 0;
  vertical-align: middle;
}

.content {
  padding: 1.5rem;
  font: var(--font-S);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-S);
}

.footer .footerBtn,
.footer .footerBtn:hover,
.footer .footerBtn:focus,
.footer a.footerBtn,
.footer a.footerBtn:visited {
  height: var(--size-S);
  background: none;
  color: var(--color-secondary-blue);
  min-width: min-content;
  padding: 0 var(--space-XS);
  font: var(--font-XS);
}

.hintTarget {
  position: absolute;
  cursor: pointer;
}

.hintBubble {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-help);
  border: 1px solid var(--color-primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms linear;
}

.hintBubble .icon {
  opacity: 0;
  transition: all 50ms linear;
}

.hintTarget:hover .icon {
  opacity: 1;
  transition: all 150ms linear 100ms;
}

.hintTarget:hover .hintBubble {
  width: 2.4rem;
  height: 2.4rem;
}

.light {
  animation: pulseLight 2s infinite;
}

.dark {
  animation: pulseDark 2s infinite;
}

@keyframes pulseLight {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 248, 205, 0.7);
  }
  70% {
    box-shadow: 0 0 0 1rem rgba(255, 248, 205, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 248, 205, 0);
  }
}

@keyframes pulseDark {
  0% {
    box-shadow: 0 0 0 0 rgba(22, 63, 137, 0.7);
  }
  70% {
    box-shadow: 0 0 0 1rem rgba(22, 63, 137, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(22, 63, 137, 0);
  }
}

@media only screen and (max-width: 768px) {
  .hintTarget {
    display: none;
  }
}
