.container {
  flex: 1;
}

.legendContainer {
  position: absolute;
  bottom: 100px;
  right: 7px;
  background: var(--color-brand-secondary);
  padding: 8px;
  z-index: 1000;
}

.legend {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 14px;
  text-transform: capitalize;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 4px;
}

.hidden {
  opacity: 0.2;
}

.legend:hover {
  cursor: pointer;
  background-color: var(--color-brand);
}

.legendContainer svg {
  transform: scale(1.2);
  margin-right: 4px;
}
