.forcedLabourContainer {
  display: flex;
  text-align: center;
  font: var(--font-S);
  margin-bottom: var(--space-M);
  overflow: auto;
}

.labourHeaders {
  text-align: left;
  margin-right: 1.7rem;
  flex: 1 0 145px;
  position: sticky;
  left: 0;
  background: #fefefe;
  z-index: 10;
}

.riskYearContainer {
  z-index: 5;
  flex-grow: 1;
}

.labourHeaders div,
.riskYear {
  margin-bottom: 0.6rem;
  color: var(--color-secondary-blue);
  opacity: var(--opacity-secondary);
}

.labourHeaders div:first-child {
  text-transform: uppercase;
}

.riskLabel {
  color: var(--color-secondary-blue);
  background-color: var(--color-terthiary-blue);
  margin: 0.7rem 0.5rem;
  padding: 0 1rem;
}

.highRisk .riskLabel {
  background-color: var(--color-danger-red-background);
  color: var(--color-primary-blue);
}

.highRisk .riskYear {
  color: var(--color-primary-blue);
}
