.container {
  display: flex;
  height: 30rem;
  z-index: 20;
  overflow-y: auto;
}

.loadingPlaceholder {
  height: 90%;
}

.contentPlaceholder {
  padding: var(--space-S);
  max-width: 30rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: underline;
}

.listContainer {
  padding: var(--space-S);
  padding-right: 0;
}

.dataset {
  cursor: pointer;
  padding: var(--space-XS);
  padding-right: var(--space-M);
}

.empty {
  cursor: default;
  color: var(--color-secondary-blue);
}

.dataset:not(:last-of-type) {
  border-bottom: var(--border);
}

.create {
  color: var(--color-secondary-blue);
  text-decoration: underline;
}

.userGuideLink {
  padding: var(--space-M) 0;
}
