.container {
  flex: 1;
  position: relative;
}

.mapControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: var(--space-S);
  top: var(--space-S);
}

.mapControls > * {
  margin-bottom: var(--space-XS);
}

.mapLegend{
  position: absolute;
  left: var(--space-S);
  bottom: var(--space-S);
}
