.legend {
  background-color: var(--color-primary-blue);
  min-width: 25rem;
  font: var(--font-S);
  color: var(--color-white);
}

.row {
  padding: var(--space-S) var(--space-M);
}

.row:not(:last-child) {
  border-bottom: 1px solid rgba(var(--white-rgb), var(--opacity-terthiary));
}

.subTitle {
  opacity: var(--opacity-secondary);
}

.ramp {
  height: 1rem;
  width: 100%;
  position: relative;
  background-color: var(--color-map-background);
}

.ramp::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--color-primary-blue-hover);
}

.currentValue {
  position: absolute;
  top: 1rem;
  padding: 4px 8px;
  z-index: 1;
  background-color: var(--color-primary-blue);
  transform: translateX(-50%);
  transition: left 0.1s linear;
  line-height: 1;
}

.currentValue::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 2rem;
  height: 1rem;
  width: 1px;
  z-index: 1;
  background-color: var(--color-white);
}

.stepsContainer {
  width: 100%;
  position: relative;
  min-height: 1.5rem;
  line-height: 1;
  padding-top: 0.2rem;
}

.step {
  font: var(--font-XS);
  opacity: var(--opacity-secondary);
  position: absolute;
  transform: translateX(-50%);
}
