.event {
  padding: var(--space-L) 1.5rem var(--space-L) var(--space-M);
  position: relative;
  color: var(--color-secondary-blue);
  transition: color 200ms ease-in;
  page-break-inside: avoid;
}

.actions {
  opacity: var(--opacity-secondary);
  transition: opacity 200ms ease-in;
  margin-left: auto;
  display: flex;
}

.event:hover {
  color: var(--color-primary-blue);
}

.event:hover .actions {
  opacity: var(--opacity-primary);
}

.header {
  display: flex;
  align-items: center;
}

.pointer,
.pointer label {
  cursor: pointer;
}

.eventData {
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.detailContainer {
  padding-left: var(--space-L);
  padding-block: var(--space-S);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-S) var(--space-M);
}

.detail a {
  text-decoration: underline;
}

.region {
  cursor: help;
}

.encounterIcon {
  margin-right: 0.5rem;
}

@media print {
  .event {
    margin-left: var(--space-M);
  }
}
