.mapControls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: var(--space-S);
  top: calc(110px + var(--space-S));
  z-index: 1;
}

.controlsNested {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mapControls > *,
.controlsNested > * {
  margin-bottom: var(--space-XS);
}

.loadingBtn {
  transform: scale(0);
  height: 0;
  pointer-events: none;
  transition: transform 0.3s 0.5s, border 0.3s 0s;
  margin-bottom: 0;
  border: none;
}

.visible {
  transform: scale(1);
  border: var(--border-white);
  height: var(--size-M);
}

.name {
  margin-left: var(--space-XS);
  flex: 1;
  opacity: var(--opacity-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.active {
  opacity: 1;
  z-index: 1;
}

.contextLayersContainer {
  position: absolute;
  right: var(--size-M);
  background: var(--color-white);
  filter: var(--drop-shadow);
  padding: var(--space-S);
  z-index: 1;
}

.contextLayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--size-M);
}

.switch {
  display: flex;
}
