.languageToggle {
  min-width: 4rem;
  min-height: 4rem;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.languageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  opacity: var(--opacity-secondary);
}

.languages {
  display: none;
  position: absolute;
  padding: var(--space-S) 0;
  z-index: 1;
  flex-direction: column;
  background-color: var(--color-white);
  filter: var(--filter-drop-shadow);
  width: max-content;
  border: var(--border);
}

.bottomRight {
  bottom: 0;
  left: 5.2rem;
}

.rightDown {
  top: 4rem;
  right: 0;
}

.languages > li {
  width: 100%;
}

.languageToggle:hover .languages {
  display: flex;
}

.language {
  width: calc(100%);
  color: var(--color-secondary-blue);
  display: block;
  padding: var(--space-XS) var(--space-M);
  text-align: left;
  cursor: pointer;
  position: relative;
}

.languages > li:not(:last-of-type) > .language::after {
  content: '';
  height: 1px;
  bottom: 0;
  position: absolute;
  left: var(--space-M);
  right: 0;
  background-color: var(--color-border);
}

.language:hover {
  color: var(--color-primary-blue);
  background-color: var(--color-terthiary-blue);
}

.currentLanguage {
  color: var(--color-primary-blue);
}
