.InputText {
  position: relative;
}

.InputText input {
  width: 100%;
  font: var(--font-M);
  color: var(--color-primary-blue);
  padding: 0 var(--space-XS);
  border-bottom: 1px solid var(--color-primary-blue);
}

.default label {
  margin-bottom: var(--space-XS);
}

.default input {
  height: var(--size-M);
}

.small input {
  height: var(--size-S);
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: var(--opacity-secondary);
}

.default .icon{
  margin-bottom: var(--space-S);
}

.small .icon{
  margin-bottom: var(--space-XS);
}

.InputText input:placeholder-shown {
  border-bottom: 1px solid var(--color-secondary-blue);
}

.InputText input::placeholder {
  color: var(--color-secondary-blue);
}
