.container {
  height: 100%;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splash {
  color: var(--primary-text-color);
  font-size: 3px;
  text-indent: -99999999em;
  position: relative;
  transform: translateZ(0);
}
.splash::before,
.splash::after {
  position: absolute;
  content: '';
}
.splash::before {
  width: 50%;
  height: 100%;
  background: var(--white);
  border-radius: 10em 0 0 10em;
  box-shadow: 0 0 0 1px var(--white);
  top: 0;
  left: 0;
  transform-origin: 5em 5em;
  animation: load2 2s infinite ease 1.5s;
}
.splash::after {
  width: 50%;
  height: 100%;
  background: var(--white);
  top: 0;
  left: 50%;
  transform-origin: 0 5em;
  animation: load2 2s infinite ease;
}
.vhLogo {
  padding: 0;
  display: block;
  margin: 5vh auto;
  max-height: 100%;
  max-width: 100%;
}
.secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.gfwLogo {
  max-height: 80%;
  max-width: 80%;
}
.tmtLogo {
  max-height: 50%;
  max-width: 50%;
}
