.summaryContainer {
  padding: var(--space-M);
  display: flex;
  gap: var(--space-S);
}

.activityTitleContainer {
  padding: var(--space-S) var(--space-M);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.placeholder {
  height: 40rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
}

.eventsLegendOptions {
  min-width: max-content;
  background: var(--color-white);
  padding: var(--space-S);
}

.arrow {
  right: 0;
}
