.container {
  flex: 1;
}

.eventTypeRowContainer {
  display: flex;
  align-items: center;
  gap: var(--space-XS);
  color: var(--color-secondary-blue);
}

.eventTypeRow {
  display: flex;
  align-items: center;
  gap: var(--space-XS);
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.summary {
  font: var(--font-M);
  color: var(--color-secondary-blue);
  margin-bottom: var(--space-S);
}

.summary strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}

.eventsCount strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}

.iconContainer {
  width: 2rem;
  display: flex;
  justify-content: center;
}

.help {
  cursor: help;
}

.fishingIcon {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  border: var(--border);
}
