.container {
  flex: 1;
  height: 100%;
}
.container > :first-child {
  height: 100% !important;
  width: 100% !important;
}
.legendContainer {
  position: absolute;
  bottom: 100px;
  right: 7px;
  background: #163f89;
  padding: 8px;
}

.legend {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 14px;
  text-transform: capitalize;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.legendContainer svg {
  transform: scale(1.2);
  margin-right: 4px;
}
