.activityContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height) - var(--tabs-height));
  margin-bottom: var(--space-XL);
}

.voyageEvent:not(:last-child)::after,
.typeEvent::after {
  content: '';
  position: absolute;
  left: 6rem;
  bottom: 0;
  height: 0.1rem;
  width: calc(100% - 6rem);
  background-color: var(--color-border);
}

.enptyState {
  width: 100%;
  padding: var(--space-L) var(--space-M);
  text-align: center;
}
