.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-S);
}

.form {
  display: flex;
  gap: var(--space-M);
  flex: 1;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
}

.textarea {
  color: var(--color-primary-blue);
  padding: var(--space-XS) var(--space-S);
  border-radius: var(--border-radius);
  border: var(--border);
  flex: 1;
  resize: none;
}

.textarea::placeholder {
  color: var(--color-secondary-blue);
}

.intro {
  margin-top: var(--space-M);
  font: var(--font-S);
  color: var(--color-secondary-blue);
}

.emailDisclaimer {
  text-align: right;
  font: var(--font-S);
  color: var(--color-secondary-blue);
}

.footer {
  margin-top: var(--space-S);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cta {
  min-width: 15rem;
  padding: 0 5rem;
}
