.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  height: 100%;
}

.container:not(:last-of-type) {
  border-bottom: var(--border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-XS) var(--space-S) var(--space-XS) var(--space-M);
  border-bottom: var(--border);
}

.sectionTitle {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin: 0;
  text-transform: uppercase;
}

.sectionButtons > *:not(:last-child) {
  margin-right: 1rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.content {
  flex: 1;
  margin-bottom: auto;
  overflow-y: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholderContainer {
  padding: var(--space-M);
}

.placeholder {
  font: var(--font-S);
  color: var(--color-secondary-blue);
}

.placeholder a {
  text-decoration: underline;
}

.graph .spinner {
  height: 24rem;
}

.container .spinnerFull {
  height: 100vh;
}

.wrapperSpinner {
  height: calc(100% - 80px);
}

.emptyDataPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-blue);
  min-height: 24rem;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.error,
.experimental {
  color: var(--color-danger-red);
}

.experimental {
  margin-left: 0.5rem;
}

.footer {
  display: flex;
  gap: var(--space-S);
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-M);
}

.typeChoice {
  padding: 0 var(--space-M);
}
