.container {
  display: flex;
  width: 100%;
  padding: var(--space-M);
}

.timeSelection {
  display: flex;
  width: 100%;
  gap: var(--space-S);
  justify-content: space-between;
}

.dateWrapper {
  flex: 1;
}

.durationWrapper {
  display: flex;
  align-items: flex-end;
  padding-left: 3rem;
}

.duration {
  width: var(--size-L);
}

.durationType {
  width: 10rem;
}
