.eventsLegendContainer {
  display: flex;
  flex-direction: column;
}

.eventsLegend {
  display: flex;
  align-items: center;
}

.eventsLegendSwitch {
  transform-origin: left;
  transform: scale(0.75);
}

.eventLegendLabel {
  cursor: pointer;
  margin-left: -0.2rem;
  text-transform: none;
}

.active .eventLegendLabel {
  text-decoration: none;
  color: var(--color-primary-blue);
}

.icon {
  display: block;
  height: 8px;
  min-width: 8px;
  margin-right: 0.6rem;
  background: var(--color);
}

.disabled {
  opacity: 0.5;
}

.fishing {
  border-radius: 99px;
}

.encounter,
.loitering {
  transform: rotateZ(45deg);
}

.loitering {
  background: transparent;
  border: 2px solid var(--color);
}
