.eventsLegendContainer {
  display: flex;
  flex-direction: column;
}

.eventsLegend {
  display: flex;
  align-items: center;
}

.eventsLegendSwitch {
  transform-origin: left;
  transform: scale(0.75);
}

.eventLegendLabel {
  cursor: pointer;
  margin-left: -0.2rem;
  text-transform: none;
}

.active .eventLegendLabel {
  text-decoration: none;
  color: var(--color-primary-blue);
}
