.container {
  display: flex;
  height: 100%;
}

.content {
  padding: var(--space-XS) var(--space-S);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  padding: 0 var(--space-S);
  border-bottom: var(--border);
  height: 5.2rem;
}

.logoLink {
  line-height: 0;
  margin-right: auto;
}

.logo {
  width: 18rem;
  height: auto;
}
