i18n_DEBUG=true
NEXT_SPREADSHEET_CLIENT_EMAIL=
NEXT_SPREADSHEET_PRIVATE_KEY=
NEXT_FEEDBACK_SPREADSHEET_ID=
NEXT_MAP_ERRORS_SPREADSHEET_ID=
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=
NEXT_PUBLIC_GOOGLE_MEASUREMENT_ID=
NEXT_PUBLIC_USE_LOCAL_DATAVIEWS=true
NEXT_PUBLIC_USE_LOCAL_DATASETS=true
NEXT_PUBLIC_WORKSPACE_ENV=development
NEXT_PUBLIC_API_GATEWAY=https://gateway.api.dev.globalfishingwatch.org
NEXT_PUBLIC_LATEST_CARRIER_DATASET_ID=carriers:latest
NEXT_PUBLIC_CARRIER_PORTAL_URL=https://carrier-portal.dev.globalfishingwatch.org
