.tabs {
  width: 100%;
  display: flex;
  height: var(--size-M);
}

.tabs button {
  width: 100%;
}

.tabs button:not(:last-child) {
  margin-right: 0.1rem;
}

.tabs button.active {
  pointer-events: none;
  background: none;
  color: var(--color-primary-blue);
}

.tabs button.active:focus {
  background: none;
}

.container {
  height: calc(100vh - var(--size-L));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.contentPadding {
  padding: var(--space-M);
}
