.container {
  width: 100%;
  height: var(--size-L);
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  padding: 0 var(--space-S);
}

.righSide {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.userBtn {
  width: var(--size-M);
  height: var(--size-M);
  border-radius: 2rem;
  color: var(--color-secondary-blue);
  background: var(--color-terthiary-blue);
  cursor: default;
  margin-left: var(--space-XS);
}

.userBtn:not(:disabled):hover {
  color: var(--color-primary-blue);
  background: var(--color-terthiary-blue);
}
