.popupContent {
  min-width: 33rem;
  background: var(--color-white);
  padding: var(--space-S);
}

.popupButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-S);
  width: 100%;
}

.confirmBtn {
  margin-left: auto;
}
