.container {
  padding: var(--space-S);
  padding-left: var(--space-M);
  border-bottom: var(--border);
  min-height: 5.2rem;
}

.row {
  flex: 1;
  gap: var(--space-S);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row + .row {
  padding-top: 0;
}

.userLabel {
  line-height: 0.5;
  margin-top: var(--space-S);
}

.title {
  font: var(--font-L);
  font-size: 2.2rem;
}

.secondary {
  color: var(--color-secondary-blue);
}

.actions {
  white-space: nowrap;
  display: flex;
  gap: var(--space-S);
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.reportLink {
  text-decoration: underline;
  display: none;
}

.summary {
  color: var(--color-secondary-blue);
}

.summary strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}

@media print {
  .actions {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .reportLink {
    display: block;
  }
}
