.selector {
  padding: var(--space-M) var(--space-M) 0;
}

.container {
  padding: var(--space-M);
  border-bottom: var(--border);
}

.title {
  font: var(--font-L);
  font-size: 2.2rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  color: var(--color-danger-red);
}

.placeholder {
  padding-block: var(--space-XL);
}

.disclaimer {
  display: flex;
  align-items: top;
  margin: var(--space-L) var(--space-M);
  font: var(--font-S);
  color: var(--color-secondary-blue);
}

.emptyState {
  padding: var(--space-L) var(--space-M);
  color: var(--color-secondary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-M);
  flex-direction: column;
}
