.sidebarHeader {
  display: flex;
  align-items: center;
  padding: 0 var(--space-S);
  height: var(--header-height);
  justify-content: space-between;
}

.sticky {
  background-color: var(--color-white);
  z-index: 3;
  box-shadow: var(--box-shadow-2);
}
