.panel {
  position: relative;
  height: 100%;
  flex-shrink: 0;
}

.panelResizer {
  width: 10px;
  height: 100%;
  position: absolute;
  border-left: 1px solid var(--color-border);
  top: 0;
  left: 0;
  z-index: 1;
  cursor: ew-resize;
}

.panelResizer:hover,
.resizing {
  border-left: 2px solid var(--color-primary-blue);
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(229, 240, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-size: 100% 518px;
  background-repeat: no-repeat;
}

.userGuideBackground {
  background-color: var(--color-white);
  background-image: linear-gradient(180deg, rgba(249, 245, 214, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-size: 100% 518px;
  background-repeat: no-repeat;
}

.tableOfContentsOpen {
  background: rgb(255, 255, 255);
  border-top: 1px solid var(--color-border-thick);
}

.scrollContainer {
  flex: 1;
  overflow: hidden auto;
  min-height: 0;
  padding: var(--space-SM) var(--space-M);
}

.content {
  font: var(--font-S);
}

.content a,
.content a:visited {
  color: var(--color-highlight-orange-rgb);
  text-decoration: none;
}

.content b,
.content strong {
  font-weight: bold;
}

.content p {
  margin-bottom: var(--space-M);
}

.content img {
  max-width: 100%;
}

.content h2 {
  color: var(--color-primary-blue) !important;
  font: var(--font-L);
  padding: var(--space-S) 0;
}

.content h3 {
  font: var(--font-M);
}

.content ol,
.content ul {
  padding-left: var(--space-M);
  list-style-type: circle;
}

.content > ol,
.content > ul {
  list-style: disc;
  margin-bottom: var(--space-M);
}

.content > *:nth-last-child(1) {
  padding-bottom: var(--space-XL);
}

.content table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--box-shadow-1);
  margin-top: var(--space-M);
  margin-bottom: var(--space-S);
  background-color: var(--color-white);
}

.content th {
  color: white;
  padding: var(--space-S);
  text-align: left;
  font-weight: bold;
}

.content td {
  padding: 10px;
  border-bottom: var(--border);
}

.content tr:hover {
  background-color: var(--color-off-white-0);
}

.listItem {
  cursor: pointer;
  padding: var(--space-S) 0;
  color: rgba(var(--primary-blue-rgb), 0.65);
}

.listItem:hover,
.listItemActive {
  color: var(--primary-blue-rgb);
}

.listItem button {
  cursor: pointer;
}

.tableOfContentsContainer {
  display: flex;
  gap: var(--space-SM);
  flex-direction: column;
}

.subtitle {
  font: var(--font-S);
  text-transform: uppercase;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-right: var(--space-S);
}

.sourceSelector {
  padding-top: var(--space-M);
  padding-inline: var(--space-M);
  padding-bottom: 0;
}

.title {
  flex: 1;
}
