div.modal {
  height: auto;
}

.input {
  margin-bottom: var(--space-M);
}

.footer {
  margin-top: var(--space-M);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-M);
}

.footer button:only-child {
  margin-left: auto;
}

.error {
  color: var(--color-danger-red);
}
