.project {
  display: flex;
  flex-direction: column;
}

.loadMoreButton {
  margin-block: var(--space-L);
  margin-inline: auto;
  width: 30rem;
}

.backLink {
  margin-right: var(--space-XS);
}

.pageTitle {
  font: var(--font-XL);
  margin-bottom: var(--space-M);
}

.projectInfo code {
  background-color: var(--color-terthiary-blue);
  line-height: 1;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

.projectInfoItem {
  margin-bottom: var(--space-S);
}

.tasksTitle {
  font: var(--font-L);
  margin-top: var(--space-M);
  margin-bottom: var(--space-S);
}

.imageStyleEditor {
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  background-color: white;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  display: flex;
  align-items: center;
  gap: var(--space-M);
}

.editorContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
}

.slider {
  width: 20rem;
}

.switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
