.project {
  display: flex;
  flex-direction: column;
}

.loadMoreButton {
  margin-block: var(--space-L);
  margin-inline: auto;
  width: 30rem;
}

.backLink {
  margin-right: var(--space-XS);
}

.pageTitle {
  font: var(--font-XL);
  margin-bottom: var(--space-M);
}

.projectInfo code {
  background-color: var(--color-terthiary-blue);
  line-height: 1;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

.projectInfoItem {
  margin-bottom: var(--space-S);
}

.tasksTitle {
  font: var(--font-L);
  margin-top: var(--space-M);
  margin-bottom: var(--space-S);
}

.imageSettings {
  position: fixed;
  bottom: var(--space-S);
  right: var(--space-S);
  z-index: 2;
  display: flex;
  align-items: flex-end;
  gap: var(--space-S);
  padding: var(--space-S);
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.imageSettings label {
  font-size: 1.3rem;
}
