.task {
  border: var(--border);
  border-bottom: none;
  padding: var(--space-S);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task:last-of-type {
  border-bottom: var(--border);
}

.open {
  padding: var(--space-L);
  flex-direction: column;
  align-items: center;
  gap: var(--space-S);
}

.images {
  display: flex;
  gap: var(--space-S);
  transition: all 0.2s ease-in-out;
  width: 100%;
  max-width: 11rem;
  opacity: 0.5;
}

.images img {
  width: 5rem;
  background-color: var(--color-terthiary-blue);
  transition: all 0.2s ease-in-out;
}

.open .images {
  max-width: 80vh;
  opacity: 1;
}

.open .images img {
  width: 100%;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-S);
}

.buttons {
  display: flex;
  gap: var(--space-S);
}
