.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-XS);
  width: 100%;
}

.imgContainer {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--color-terthiary-blue);
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  transition: all 0.3s ease-out;
}

.scaleValue {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--space-S);
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 1));
  color: white;
  font-size: var(--font-size-S);
  opacity: 1;
}

.scaleLine {
  position: absolute;
  bottom: var(--space-S);
  right: var(--space-S);
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.5));
  height: 2px;
  background: white;
}

.histogram {
  display: block;
  width: 100%;
  height: 40px;
}

.levelsSlider {
  padding: var(--space-S);
  padding-top: 0;
  display: flex;
}

.levelsTrackOuter {
  display: flex;
  height: 28px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.levelsTrack {
  height: 3px;
  width: 100%;
  align-self: center;
}

.levelsThumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  cursor: grab;
  position: relative;
}

.levelsThumb:active {
  cursor: grabbing;
}

.levelsThumbLabel {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
