.debugMenu {
  position: absolute;
  width: 400px;
  height: 400px;
  background: white;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 1rem;
}

.debugMenu div {
  margin: 1rem 0 0 0;
}