:root {
  --print-width: 17in;
  --print-height: 10in;
  --color-help: #fff8cd;
  --timebar-height: 7.2rem;
  --timebar-height-small-screen: 6rem;
  --footer-height: 2.4rem;
  --header-height: 5.2rem;
  --sidebar-width: 32rem;
  --sidebar-tabs-width: 5.2rem;
  --switch-height: 4.4rem;
}

html:has(.printing) {
  font-size: 10px !important;
}

body:has(.printing) {
  font: var(--font-M);
  color: var(--color-primary-blue);
}

.printing * {
  transition: none !important;
}

.experimental::after,
.experimentalLabel label::after {
  content: 'experimental';
  color: red;
  margin-left: 0.4rem;
  font: var(--font-XS);
  vertical-align: super;
}

.dragging * {
  user-select: none !important;
}

.print-only {
  display: none !important;
}

.printing .print-hidden {
  display: none !important;
}

#__next {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .print-hidden {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
}

.scrollContainer {
  height: 100%;
  overflow: hidden auto;
  width: 100%;
}

.recharts-cartesian-axis-tick-value {
  fill: var(--color-secondary-blue);
  font: var(--font-XS);
  text-transform: uppercase;
  width: 4rem;
}

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  stroke: var(--color-secondary-blue);
}

.recharts-line-curve {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.recharts-cartesian-grid-horizontal line {
  stroke: var(--color-terthiary-blue);
}
