:root {
  --print-width: 17in;
  --print-height: 10in;
  --color-help: #fff8cd;
  --timebar-height: 7.2rem;
  --timebar-height-small-screen: 6rem;
  --footer-height: 2.4rem;
  --switch-height: 4.4rem;
}

.printing * {
  transition: none !important;
}

.print-only {
  display: none !important;
}

.printing .print-hidden {
  display: none !important;
}

.printing .print-only {
  display: block !important;
}

#__next {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .print-hidden {
    display: none !important;
  }
}

.scrollContainer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.recharts-cartesian-axis-tick-value {
  fill: var(--color-secondary-blue);
  font: var(--font-XS);
  text-transform: uppercase;
  width: 4rem;
}

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  stroke: var(--color-secondary-blue);
}

.recharts-line-curve {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.recharts-cartesian-grid-horizontal line {
  stroke: var(--color-terthiary-blue);
}

.mapboxgl-control-container .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  padding-right: var(--space-XS);
  padding-bottom: var(--space-XS);
  font: var(--font-XS);
  background: none;
  color: var(--color-white);
  opacity: var(--opacity-secondary);
}

.mapboxgl-control-container .mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
  color: var(--color-white);
  opacity: var(--opacity-secondary);
}

.mapboxgl-popup .mapboxgl-popup-content {
  padding: 0;
  box-shadow: none;
  border: none;
  width: fit-content;
}

.printing .mapboxgl-popup {
  display: none !important;
}

@media print {
  .mapboxgl-popup {
    display: none !important;
  }
}

.hover.mapboxgl-popup .mapboxgl-popup-content {
  pointer-events: none;
}

.mapboxgl-popup .mapboxgl-popup-close-button {
  width: var(--size-S);
  height: var(--size-S);
  border-radius: 50%;
  font: var(--font-L);
  line-height: 1;
  margin: var(--space-XS);
  transition: opacity 150ms linear, color 150ms linear;
  z-index: 1;
  top: -2rem;
  right: -2rem;
  background-color: var(--color-primary-blue);
  color: rgba(var(--white-rgb), 0.8);
  opacity: 1;
  border: var(--border-white);
}

.mapboxgl-popup .mapboxgl-popup-close-button:hover {
  opacity: 1;
  color: rgba(var(--white-rgb), 1);
  background-color: var(--color-primary-blue);
}

.mapboxgl-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: white;
  transform: translateY(1px);
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: white;
  transform: translateY(-1px);
}

.mapboxgl-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: white;
  transform: translateX(1px);
}

.mapboxgl-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: white;
  transform: translateX(-1px);
}

.mapboxgl-control-container .mapboxgl-ctrl-bottom-left {
  bottom: var(--space-M);
  left: 0;
}

.mapboxgl-control-container .mapboxgl-ctrl-scale {
  min-height: 1.5rem;
  font: var(--font-XS);
  background: none;
  color: rgba(var(--white-rgb), 0.65);
  border-left: none;
  border-right: none;
  border-color: rgba(var(--white-rgb), 0.65);
  border-width: 1px;
}

.mapboxgl-map.mouse-pointer .mapboxgl-canvas-container.mapboxgl-interactive .mapboxgl-canvas {
  cursor: pointer !important;
}

.mapboxgl-map.mouse-move .mapboxgl-canvas-container.mapboxgl-interactive .mapboxgl-canvas {
  cursor: move !important;
}

.mapboxgl-map.mouse-add .mapboxgl-canvas-container.mapboxgl-interactive .mapboxgl-canvas {
  cursor: crosshair !important;
}

.mapboxgl-map.mouse-move.mode-direct_select
  .mapboxgl-canvas-container.mapboxgl-interactive
  .mapboxgl-canvas {
  cursor: grab !important;
}

.mapboxgl-map.mode-static.mouse-pointer
  .mapboxgl-canvas-container.mapboxgl-interactive
  .mapboxgl-canvas {
  cursor: grab !important;
}

.mapboxgl-map.mode-direct_select.feature-midpoint.mouse-pointer
  .mapboxgl-canvas-container.mapboxgl-interactive
  .mapboxgl-canvas {
  cursor: cell !important;
}

.mapboxgl-map.mode-direct_select.feature-feature.mouse-move
  .mapboxgl-canvas-container.mapboxgl-interactive
  .mapboxgl-canvas {
  cursor: move !important;
}

.mapboxgl-map.mode-direct_select.feature-vertex.mouse-move
  .mapboxgl-canvas-container.mapboxgl-interactive
  .mapboxgl-canvas {
  cursor: pointer !important;
}
