.placeholder {
  height: calc(100% - var(--header-height));
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-M);
  text-align: center;
}

.disclaimerFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-S);
  margin-top: var(--space-S);
}

.disclaimer a {
  text-decoration: underline;
}

.secondary {
  font: var(--font-S);
  color: var(--color-secondary-blue);
}

.header {
  padding: var(--space-S) var(--space-S) 0 var(--space-S);
}

.title {
  font: var(--font-L);
}

.errorTitle {
  font: var(--font-L);
  line-height: 1;
  margin-bottom: var(--space-S);
}

.error {
  color: var(--color-danger-red);
}

.logged {
  color: var(--color-secondary-blue);
  margin-top: var(--space-M);
  margin-bottom: var(--space-S);
}

.password {
  margin-bottom: var(--space-S);
}

.button,
.button:visited {
  font: var(--font-S);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 var(--space-S);
  text-transform: uppercase;
  min-width: 150px;
  line-height: 1;
  height: var(--size-M);
  color: var(--color-white);
  background-color: var(--color-primary-blue);
  border-radius: var(--border-radius);
}

.modalContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 30rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input:not(:first-of-type) {
  margin-top: var(--space-M);
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.passwordButton {
  margin-top: var(--space-S);
  min-width: 15rem;
}

.updateBtn {
  min-width: 7.2rem;
}
