.addButton {
  position: absolute;
  right: 10px;
  bottom: -4px;
  width: 30px;
  height: 30px;
  border-radius: 99px;
}

.addButton::after {
  content: '+';
  position: absolute;
  left: 6px;
  top: -2px;
  font-size: x-large;
}
