.listItem {
  padding: 5px 0;
}

.clickable {
  cursor: pointer;
}

.showActions {
  margin: 0 -10px;
  padding: 5px 10px;
  background: lightgray;
  position: relative;
}

.showActions::after {
  content: '';
  background: lightgray;
  position: absolute;
  right: -10px;
  top: calc(50% - 15px);
  transform: scaleX(0.7) rotate(45deg);
  width: 30px;
  height: 30px;
}

.actions {
  margin-top: 5px;
}

.actions button {
  margin-right: 5px;
}
