.container {
  padding: var(--space-XS) 0;
}

.container:not(:last-of-type) {
  border-bottom: var(--border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-XS) var(--space-S);
}

.sectionTitle {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin: 0;
  text-transform: uppercase;
}

.sectionButtons > *:not(:last-child) {
  margin-right: 1rem;
}

.tooltipArrow,
.tooltipArrow::before {
  position: absolute;
  left: -2px;
  width: 8px;
  height: 8px;
  z-index: 1;
  border-left: var(--border);
  background-color: var(--color-white);
}

.tooltipArrow::before {
  content: '';
  transform: rotate(45deg);
  background: var(--color-white);
}

.tooltipContent {
  background-color: var(--color-white);
  border: var(--border);
  box-shadow: var(--box-shadow);
}
