.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-M);
}

.vessel {
  display: flex;
  align-items: center;
  gap: var(--space-M);
}

.vesselLabel {
  display: flex;
  align-items: center;
  flex: 1;
}

.vesselSelect {
  flex: 1;
}

.vesselInfo {
  display: flex;
  gap: var(--space-S);
}

.disclaimer {
  background-color: var(--color-danger-red-background);
  opacity: var(--opacity-secondary);
  display: flex;
  align-items: center;
  gap: var(--space-S);
  padding: var(--space-XS) var(--space-S);
  border-radius: var(--border-radius);
  font-size: small;
  line-height: 1.5;
}

.item {
  border-bottom: 1px solid var(--color-border-thick);
  padding-bottom: var(--space-M);
}

.version {
  color: var(--color-secondary-blue);
  opacity: var(--opacity-secondary);
  font-size: small;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-S);
}
