.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-M);
  gap: var(--space-M);
}

.vessel {
  display: flex;
  align-items: center;
  gap: var(--space-M);
}

.vesselLabel {
  display: flex;
  align-items: center;
  flex: 1;
}

.vesselSelect {
  flex: 1;
}

.vesselInfo {
  display: flex;
  gap: var(--space-S);
}

.disclaimer {
  background-color: var(--color-danger-red-background);
  opacity: var(--opacity-secondary);
  display: flex;
  align-items: center;
  gap: var(--space-S);
  padding: var(--space-XS) var(--space-S);
  border-radius: var(--border-radius-0);
  font-size: small;
  line-height: 1.5;
}

.item {
  border-bottom: 1px solid var(--color-border-thick);
  padding-bottom: var(--space-M);
}

.version {
  color: var(--color-secondary-blue);
  opacity: var(--opacity-secondary);
  font-size: small;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-S);
}

.title {
  font: var(--font-M);
  border-bottom: 1px solid rgba(22, 62, 137, 0.275);
  flex: 1;
  padding: var(--space-M);
  text-transform: uppercase;
}

.loginRequired {
  margin: var(--space-S);
  padding: var(--space-S);
  background-color: var(--color-danger-red-background);
  border-radius: var(--border-radius-0);
}

.link {
  text-decoration: underline;
}

.commentButton {
  min-width: 12rem;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
}
