:root {
  --primary-green-rgb: 22, 137, 63; /* rgb(22, 63, 137) */
  --primary-yellow-rgb: 248, 174, 2;
  --primary-gray-rgb: 128, 128, 128;
  --color-primary-green: rgba(var(--primary-green-rgb), 1);
  --color-secondary-green: rgba(var(--primary-green-rgb), var(--opacity-secondary));
  --color-terthiary-green: rgba(var(--primary-green-rgb), var(--opacity-terthiary));
  --color-primary-green-hover: rgba(var(--primary-green-rgb), var(--opacity-hover));
  --color-primary-green-border: rgba(var(--primary-green-rgb), var(--opacity-border));
  --color-primary-yellow: rgba(var(--primary-yellow-rgb), 1);
  --color-primary-gray: rgba(var(--primary-gray-rgb), 1);
  --header-height: 5rem;
  --tabs-height: 4rem;
  --font-size: 12px;
  --vessel-item-width: 100%;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nav {
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 20px;
  background-color: #021236;
}

.nav a {
  font-size: 24px;
  margin-right: 10px;
  color: #33447e;
  text-decoration: none;
}

.nav a.active {
  color: #e54430;
  text-decoration: underline;
}

#root,
body {
  height: auto;
}

.content {
  height: calc(100vh - 6rem);
}

.sidebar {
  height: 100%;
  overflow-y: auto;
}

.split-container {
  background-color: white;
}

section {
  padding: 2rem;
}

hr {
  display: block;
  border-top: 1px solid var(--color-primary-blue);
  margin: 2rem;
}

:root a {
  text-decoration: underline;
}
