.nav {
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 20px;
  background-color: #021236;
}

.nav a {
  font-size: 24px;
  margin-right: 10px;
  color: #33447e;
  text-decoration: none;
}

.nav a.active {
  color: #e54430;
  text-decoration: underline;
}

#root,
body {
  height: auto;
}

.content {
  height: calc(100vh - 6rem);
}

.sidebar {
  height: 100%;
  overflow-y: auto;
}

.split-container {
  background-color: white;
}

section {
  padding: 2rem;
}

hr {
  display: block;
  border-top: 1px solid var(--color-primary-blue);
  margin: 2rem;
}

:root {
  --header-height: 6rem;
  --vessel-item-width: 100%;
}

:root a {
  text-decoration: underline;
}
