.info {
  position: absolute;
  bottom: var(--space-XS);
  left: var(--space-XS);
  color: var(--color-white);
  font: var(--font-S);
  line-height: 1;
  width: 100%;
}

.flex {
  display: flex;
  padding: var(--space-XS) 0;
  gap: var(--space-XS);
}

.mouseCoordinates {
  position: absolute;
  bottom: 1.4rem;
  right: var(--space-S);
  font: var(--font-XS);
  opacity: var(--opacity-secondary);
}

.scale {
  min-height: 1.5rem;
}

.scale :global(.mapboxgl-ctrl-scale) {
  font: var(--font-XS);
  background: none;
  color: rgba(var(--white-rgb), 0.65);
  border-left: none;
  border-right: none;
  border-color: rgba(var(--white-rgb), 0.65);
  border-width: 1px;
}

.dateRange {
  text-transform: uppercase;
}

@media print {
  .info {
    padding: 0 var(--space-XS);
  }

  .dateRange {
    font: var(--font-L);
  }
}

:global(.printing) .dateRange {
  font: var(--font-L);
}

:global(.printing) .info {
  padding: 0 var(--space-XS);
}
