.info {
  position: absolute;
  bottom: var(--space-XS);
  left: var(--space-XS);
  color: var(--color-white);
  font: var(--font-S);
  line-height: 1;
  width: 100%;
  pointer-events: none;
}

.flex {
  display: flex;
  padding: var(--space-XS) 0;
  gap: var(--space-XS);
}

.mouseCoordinates {
  position: absolute;
  bottom: 0;
  right: var(--space-S);
  font: var(--font-XS);
  opacity: var(--opacity-secondary);
  text-align: right;
}

.dateRange {
  text-transform: uppercase;
  pointer-events: all;
  width: max-content;
}

@media print {
  .info {
    bottom: unset;
    left: 7.5rem;
    top: 2.2rem;
    padding: 0 var(--space-XS);
  }

  .dateRange {
    font: var(--font-L);
  }
}

:global(.printing) .dateRange {
  font: var(--font-L);
}

:global(.printing) .info {
  padding: 0 var(--space-XS);
}
