.container {
  position: relative;
  z-index: 2;
}

.container .active {
  opacity: 1;
  background-color: var(--color-white);
  color: var(--color-primary-blue);
}

.layers {
  position: absolute;
  top: 0;
  right: 5rem;
  width: max-content;
  background-color: var(--color-white);
  padding: var(--space-S);
  border-radius: var(--border-radius-1);
}

.layers::after {
  content: '';
  top: 1rem;
  right: -0.2rem;
  z-index: -1;
  position: absolute;
  transform: rotate(45deg);
  width: var(--size-XS);
  height: var(--size-XS);
  background-color: var(--color-white);
}

.layer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: var(--space-XS);
}

.label {
  cursor: pointer;
  color: var(--color-secondary-blue);
}

.label.active {
  color: var(--color-primary-blue);
}

.label.disabled {
  cursor: not-allowed;
}
