.container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-L);
  height: var(--size-L);
  margin-bottom: 0.1rem;
  background-color: var(--color-terthiary-blue);
  transition: background-color 300ms linear;
}

.list.current {
  background-color: transparent;
}

.link {
  cursor: pointer;
  line-height: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer, .pointer * {
  cursor: pointer !important;
}

.container::after {
  content: '';
  flex: 1;
  background: var(--color-terthiary-blue);
}
