.container {
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--size-L));
  overflow-y: auto;
  scroll-behavior: smooth;
}

.dataviewContainer {
  border-bottom: var(--border);
}

.infoPanel {
  padding-top: var(--space-M);
  padding-right: var(--space-S);
  padding-bottom: calc(var(--space-M) + var(--space-S));
  padding-left: var(--space-M);
  border-bottom: var(--border);
}

.infoPanel > div:not(:last-child) {
  margin-bottom: var(--space-M);
}

.title {
  display: flex;
  justify-content: space-between;
  font: var(--font-XL)
}

.dataviewPanel {
  padding: var(--space-M) var(--space-S) var(--space-M) var(--space-M);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-M);
}

.footer * {
  flex: 1;
}

.footer *:not(:first-child) {
  margin-left: var(--space-XS);
}

.footer *:not(:last-child) {
  margin-right: var(--space-XS);
}
