.mapControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: var(--space-S);
  top: var(--space-S);
  z-index: 1;
}

.controlsNested {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mapControls > *,
.controlsNested > * {
  margin-bottom: var(--space-XS);
}

.loadingBtn {
  transform: scale(0);

  /* pointer-events: none; */
  transition: transform 0.3s 0.5s, border 0.3s 0s;
  margin-bottom: 0;
  border: none;
}

.visible {
  transform: scale(1);
  border: var(--border-white);
}

.contextLayer {
  display: flex;
  font-size: var(--font-S);
  flex-direction: row;
  align-items: center;
  height: var(--size-M);
  color: rgba(var(--primary-blue-rgb), 0.7);
  margin-right: 1rem;
}

.basemapSwitcher {
  cursor: pointer;
  border: var(--border-white);
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
  width: var(--size-M);
  height: var(--size-M);
  margin-top: 0.8rem;
}

.basemapSwitcher.basemap_default {
  background-image: url('../../../assets/images/basemap-satellite.jpg');
}

.basemapSwitcher.satellite {
  background-image: url('../../../assets/images/basemap-default.jpg');
}
