.vesselItemWrapper {
  border-bottom: var(--border);
  padding: 1.5rem 1.5rem 0;
  cursor: pointer;
}

.selected {
  background-color: var(--color-terthiary-blue);
}

.vesselItem {
  cursor: pointer;
  width: calc(var(--vessel-item-width) - var(--size-M));
}

.vesselItem h3 {
  color: #163f89;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 2.1rem;
  margin-bottom: 1rem;
}

.deleteSaved {
  float: right;
  background-color: rgba(22, 63, 137, 0.1);
  color: #fa5e5e;
}

.vesselItemDetails {
  display: flex;
  flex-wrap: wrap;
  width: var(--vessel-item-width);
}

.vesselItemActions {
  /* width: var(--size-S); */
}

.vesselItemFooter {
  width: var(--vessel-item-width);
  margin-bottom: 1.5rem;
}

.selected .vesselItemActions {
  align-self: center;
  margin-left: auto;
}

.identifiers {
  overflow: hidden;
}

.identifiers > div {
  float: left;
  opacity: var(--opacity-secondary);
  color: #163f89;
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.7rem;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}

.fullWidth {
  width: 100%;
}

.identifiers > div.fullWidth {
  margin-bottom: 0;
}

.vesselItemWrapper .remove {
  position: absolute;
  right: var(--space-S);
  background-color: rgba(var(--danger-red-rgb), var(--opacity-terthiary));
}

.vesselItemWrapper .selectVessel {
  background: var(--color-border-thick);
}

.vesselItemWrapper .remove:focus:not(:disabled),
.vesselItemWrapper .remove:active:not(:disabled),
.vesselItemWrapper .remove:hover:not(:disabled) {
  background-color: rgba(var(--danger-red-rgb), var(--opacity-border));
}

.relatedVesselNotification {
  text-transform: uppercase;
  padding: var(--size-XS) 0;
}

.relatedVesselItem {
  flex-grow: 100%;
}

.transmissionField {
  width: 100%;
  font: var(--font-S);
  color: var(--color-secondary-blue);
}
