.popup {
  font: var(--font-S);
  pointer-events: none;
  z-index: 2;
}

.popupSection {
  display: flex;
  position: relative;
  padding: var(--space-XS);
  padding-left: 2.5rem;
  border: var(--border-white);
  background: var(--color-white);
  border-bottom: var(--border);
}

.popupSection:not(:last-child) {
  border-bottom: none;
}

.popupSectionContent {
  flex: 1;
}

.popupSectionTitle {
  opacity: var(--opacity-secondary);
  line-height: 1.2;
  margin-bottom: var(--space-S);
}

.layerIcon {
  position: absolute;
  left: 2px;
  top: 2px;
}

.rowContainer {
  flex: 1;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--space-S);
  margin-bottom: var(--space-XS);
}

.list {
  max-height: 60vh;
  overflow: auto;
}

.list > li {
  max-width: 50rem;
  word-wrap: break-word;
}

.strong {
  font-weight: 500;
}

.rowColum {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.row:last-child {
  margin-bottom: 0;
}

.rowTitle {
  font: var(--font-XS);
  text-transform: uppercase;
  color: var(--color-secondary-blue);
}

.rowText {
  line-height: 1.2;
}

.rowActions {
  display: flex;
  flex-wrap: nowrap;
  margin-left: var(--space-S);
}

.secondary {
  color: var(--color-secondary-blue);
}

.flex {
  margin-top: var(--space-S);
  display: flex;
  column-gap: var(--space-M);
  flex-wrap: wrap;
}

.hover:global(.mapboxgl-popup .mapboxgl-popup-content) {
  background: none;
  pointer-events: none;
}

.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip) {
  display: none;
  border-width: 0 !important;
  pointer-events: none;
}
