.dropFiles {
  flex: 1;
  margin-right: var(--space-S);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-M);
  text-align: center;
  background: var(--color-terthiary-blue);
  border: 0.2rem dotted var(--color-secondary-blue);
  color: var(--color-secondary-blue);
  font: var(--font-S);
  border-radius: 3px;
  margin-bottom: var(--space-L);
  cursor: pointer;
}

.dropFiles:hover {
  border-style: solid;
}

.fileText {
  line-height: 1.2;
  margin-top: var(--space-S);
  max-width: 30rem;
}

.warning {
  color: var(--color-danger-red);
}

.icons svg:not(:first-of-type) {
  margin-left: 1rem;
}
