.container {
  padding: var(--space-M) var(--space-M);
  border-bottom: var(--border);
}

.summary {
  font: var(--font-L);
  color: var(--color-secondary-blue);
  padding-bottom: var(--space-S);
}

.summary strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}

.marginTop {
  margin-top: var(--space-M);
}

.disclaimer {
  color: var(--color-secondary-blue);
}

.disclaimer a {
  text-decoration: underline;
}
