.modalPortal .modalOverlay {
  background: none;
}

.modalPortal .modalContentWrapper {
  background: var(--color-white);
  filter: var(--drop-shadow);
  padding: var(--space-S);
  position: absolute;
  right: var(--space-XS);
  top: calc(var(--header-height) + var(--tabs-height) + var(--space-S) + var(--space-L));
  height: fit-content;
  width: fit-content;
}

.modalPortal .modalContainer {
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.items {
  display: flex;
  font: var(--font-S);
  flex-direction: column;
  color: rgba(var(--primary-blue-rgb), 0.7);
}

.modalPortal .modalCloseButton {
  display: none;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--size-XXL);
  height: var(--size-M);
}

.itemContainer button {
  cursor: pointer;
}

.itemContainer a {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.itemContainer a > * {
  display: block;
}

.itemContainer .icon {
  margin-left: auto;
}

.disabled {
  opacity: var(--opacity-secondary);
}

.spinnerIcon {
  width: 38px;
  height: 38px;
}
