.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: #fff;
  box-shadow:
    0 1px 2px 0 rgba(22, 63, 137, 0.2),
    0 2px 10px 0 rgba(1, 37, 91, 0.15);
  z-index: 100;
  display: flex;
  align-items: center;
}

.deprecatedContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height) - var(--tabs-height));
}

.emptyState {
  color: var(--color-secondary-blue);
  padding: var(--space-M);
  text-align: center;
}

.feedback {
  margin-left: auto;
}

.header h1 {
  display: inline-block;
  color: #22447e;
  font: var(--font-L);
  line-height: 1;
  margin: 0.5rem;
}

.header h1 p {
  color: rgba(34, 68, 126, 0.65);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0;
}

.profileContainer {
  margin-top: var(--header-height);
  background: var(--gradient);
}

.backButton {
  margin: 0.5rem;
}

.tabsHeader {
  display: flex;
  background: linear-gradient(180deg, #e5f0f2 0%, #fff 100%);
}

.tabsHeader button {
  flex: 1 1 auto;
  height: var(--tabs-height);
  background: rgba(22, 63, 137, 0.1);
  color: #163f89;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  line-height: 14px;
  text-align: center;
  border-right: 1px solid #fff;
  cursor: pointer;
}

.tabsHeader button:last-child {
  border: none;
}

.tagContainer {
  display: flex;
  align-items: center;
}

.tabLabel {
  background: var(--color-danger-red);
  border-radius: 50%;
  color: var(--color-white);
  font-size: 1rem;
  margin-left: var(--space-XS);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mapContainer {
  min-height: 30vh;
  height: calc(100vh - var(--header-height) - var(--tabs-height));
}

.profileContainer .spinnerFull {
  height: calc(100vh - var(--header-height) - var(--tabs-height));
}
