.graph {
  width: 100%;
  height: 30rem;
  margin-top: var(--space-S);
}

.graph svg {
  overflow: visible;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  display: inline-flex;
  background-color: currentcolor;
}

.datasetOption {
  display: flex;
  align-items: center;
  gap: var(--space-S);
}

.titleRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectorsRow {
  margin-top: var(--space-S);
}

.select {
  min-width: 25rem;
}

@media (width <= 1229px) {
  .select {
    min-width: auto;
  }
}

@media (width <= 767px) {
  .titleRow {
    justify-content: initial;
    gap: var(--space-S);
    display: grid;
  }
}
