.graph {
  width: 100%;
  height: 30rem;
  margin-top: var(--space-S);
}

.graph svg {
  overflow: visible;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  display: inline-flex;
  flex-shrink: 0;
  background-color: currentcolor;
}

.datasetOption {
  display: flex;
  align-items: center;
  gap: var(--space-S);
}

.selectorsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-S);
}

.select {
  max-width: calc(50% - 1rem);
}

.printableTitle {
  display: none;
}

@media print {
  .printableTitle {
    display: ruby-text;
  }

  .selectorsRow {
    display: none;
  }
}
