.popover {
  background-color: white;
  padding: var(--space-S);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-0);
}

.popoverContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-S);
  padding: var(--space-S);
  font: var(--font-M);
  color: var(--color-primary-blue);
  min-width: 24rem;
}

.popoverHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sliderLabel {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: var(--space-XS);
}
