.container {
  padding: var(--space-SM) var(--space-M);
  border-bottom: var(--border);
  min-height: 37rem;
}

.spinner {
  height: 37rem;
}

.titleRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectorsRow {
  margin-top: var(--space-S);
}

.blockTitle {
  color: var(--color-primary-blue);
  line-height: 2.8rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  display: inline-flex;
  background-color: currentcolor;
}

.datasetOption {
  display: flex;
  align-items: center;
  gap: var(--space-S);
}

.disclaimer {
  display: flex;
  gap: var(--space-S);
  align-items: center;
  font: var(--font-S);
  margin-top: var(--space-M);
  color: var(--color-secondary-blue);
}

.select {
  min-width: 20rem;
  width: min-content;
}

.disclaimer + .disclaimer {
  margin-top: var(--space-XS);
}

.disclaimerText a {
  text-decoration: underline;
}

@media print {
  .container {
    border-bottom: none;
  }

  .titleRow {
    justify-content: initial;
  }

  .blockTitle::after {
    content: ' - ';
  }
}
