.heading {
  display: flex;
  justify-content: space-between;
  padding: var(--space-S) var(--space-S) var(--space-XS) var(--space-S);
}

.activityContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height) - var(--tabs-height));
}

.activityListContainer {
  padding: var(--space-S);
  flex: 1;
}

.event {
  margin-left: var(--space-M);
  height: 40px;
  display: flex;
  align-items: center;

  /* border-top: var(--border); */
  padding: 0 var(--space-S);
  position: relative;
}

.divider {
  opacity: 0.1;
  background-color: var(--color-primary-blue);
  width: calc(100% - 2.5rem);
  height: 1px;
  position: relative;
  margin: var(--space-S) 0 0;
  left: 2.5rem;
  z-index: -1;
}

.highlightsContainer .divider {
  width: 100%;
  left: calc(var(--space-XS) * -1);
}

.divider::before {
  margin-right: 9px;
  background: #fff url('../../../../assets/icons/vessel.svg') no-repeat 1.25rem;
  content: '';
  display: inline-block;
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  background-size: 1.25rem 1.25rem;
  top: -7px;
  padding: 0 var(--space-M) 0 var(--space-XS);
}

.activityListContainer > div > div > div > div:last-child .divider {
  display: none;
}

.event .eventData {
  overflow: hidden;
  text-overflow: ellipsis;
}

.event .eventData .date {
  font-size: 1rem;
  line-height: var(--space-S);
}

.eventData .description {
  font: var(--font-XS);
  margin-top: var(--space-XS);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.voyage,
.eventGroup {
  margin-left: unset;
  width: 100%;
  padding-left: var(--space-M);
  cursor: pointer;
  height: 60px;
  border-top: var(--border);
  background: var(--gradient);
}

.voyage .eventData,
.eventGroup .eventData {
  height: 100%;
  display: flex;
  align-items: center;
}

.voyage .eventData .description,
.eventGroup .eventData .description {
  width: calc(100vw - var(--size-S) * 3.5);
  margin-top: 2px;
  line-height: 1;
  color: var(--color-secondary-blue);
}

.voyage .eventData .description {
  text-transform: uppercase;
}

.voyage.open .eventData .description,
.eventGroup.open .eventData .description {
  color: var(--color-promary-blue);
}

.eventIcon {
  position: relative;
  width: 31px;
  margin: 0 9px 0 0;
  height: 31px;
  border: 1px solid rgba(34, 68, 126, 0.1);
  border-radius: 15.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.eventIcon.fishing {
  background-color: #fff;
}

.eventIcon.encounter {
  background-color: #fae9a0;
}

.eventIcon.loitering {
  background-color: #ddbef0;
}

.eventIcon svg {
  display: inline-block;
}

.eventIcon .eventCount {
  position: absolute;
  top: -5px;
  right: 2px;
  height: 18px;
  width: 18px;
  opacity: 1;
  color: #163f89;
  font-family: Roboto, 'Courier New', Courier, monospace;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 2px #163f89;
}

.highlighted::before {
  content: '';
  height: var(--space-XS);
  width: var(--space-XS);
  background-color: var(--color-danger-red);
  border-radius: 50%;
  display: inline-block;
  margin-left: -1.25rem;
  position: absolute;
  left: 0;
}

.event .actions {
  margin-left: auto;
  display: flex;
}

.event .actions.oneIcon {
  min-width: 28px;
}

.spinnerFull {
  height: calc(100vh - 110px);
}

.eventIcon.port_visit {
  background-color: #9ef;
}

.highlightsContainer {
  border-top: var(--border);
  margin-top: var(--space-S);
  padding-top: var(--space-S);
  min-height: calc(var(--size-L) * 2);
  height: fit-content;
  font: var(--font-S);
}

.highlightsContainer:not(.noData) {
  height: calc(100vh - var(--header-height));
}

.highlightsListContainer {
  padding: 0;
}

.highlightsListContainer .event .eventData .description {
  width: calc(100vw - var(--size-S) * 5.7);
}

.highlightsListContainer .event {
  margin: 0;
  padding: 0;
}

.highlights {
  font: var(--font-S);
  color: #fc5d5f;
  text-transform: uppercase;
  line-height: var(--size-M);
}

.noSettingsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.noSettingsContainer button {
  margin: var(--space-M);
}

button .iconInButton {
  margin-right: var(--space-XS);
}

.settingsLinkContainer {
  position: relative;
}

button.settingsLink {
  position: absolute;
  top: 0;
  right: 0;
}

.spinnerMed {
  margin-top: var(--space-M);
  height: var(--size-M);
}

.emptyState {
  color: var(--color-secondary-blue);
  padding: var(--space-M);
  text-align: center;
}

.eventLoading {
  margin: 0 var(--space-S);
}

.aisCoverageContainer {
  padding-left: var(--space-M);
  padding-bottom: var(--space-S);
}

@media only screen and (max-width: 1280px) {
  .heading {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
}
