.popup {
  font: var(--font-S);
  pointer-events: none;
  z-index: 2;
}

.popup.click {
  pointer-events: all;
}

.hover .content {
  transform: translate(var(--space-XS), var(--space-S));
  background: var(--color-primary-blue);
  color: var(--color-white);
  max-width: 32rem;
}

.popupSection {
  display: flex;
  position: relative;
  padding: var(--space-XS);
  padding-left: 2.5rem;
}

.popupSection:not(:last-child) {
  border-bottom: none;
}

.hover .popupSection {
  border: var(--border-white);
}

.hover .popupSection:not(:last-child) {
  border-bottom: none;
}

.layerIcon {
  position: absolute;
  left: 2px;
  top: 8px;
}

.rowContainer {
  flex: 1;
}

.hover .row {
  padding-right: var(--space-S);
  margin-bottom: var(--space-XS);
}

.rowColum {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hover .row:last-child {
  margin-bottom: 0;
}

.click .row:last-child {
  margin-bottom: 0;
}

.btnLarge {
  width: 100%;
}

.centered {
  display: flex;
  align-items: center;
  min-height: 2rem;
}

.rowTitle {
  font: var(--font-XS);
  text-transform: uppercase;
  color: var(--color-secondary-blue);
}

.viirsTable {
  width: 100%;
}

.viirsTable,
.viirsTable th,
.viirsTable td {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

.viirsTable th {
  font: var(--font-XS);
  text-transform: uppercase;
  color: var(--color-secondary-blue);
  text-align: left;
}

.viirsTable th:last-child,
.viirsTable td:last-child {
  text-align: right;
}

.rowText {
  line-height: 1.2;
}

.rowActions {
  display: flex;
  flex-wrap: nowrap;
  margin-left: var(--space-S);
}

.secondary {
  color: var(--color-secondary-blue);
}

.flex {
  margin-top: var(--space-S);
  display: flex;
  column-gap: var(--space-M);
  flex-wrap: wrap;
}

.hover:global(.mapboxgl-popup .mapboxgl-popup-content) {
  background: none;
  pointer-events: none;
}

.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip),
.hover:global(.mapboxgl-popup.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip) {
  display: none;
  border-width: 0 !important;
  pointer-events: none;
}
