.modal {
  height: 80vh;
}

.modal .modalContainer {
  height: calc(100% - 6.1rem);
  display: flex;
  flex-direction: column;
}

.modalContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - 10rem);
}

.modalFooter {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-S);
}

.disclaimerFooter {
  display: flex;
  align-items: center;
}

.parameters {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  margin-bottom: 2rem;
  align-items: center;
}

.parameters > * {
  flex: 1;
  max-width: 25rem;
  margin-right: 2rem;
}

.vesselGroupInput {
  display: flex;
  flex: 1;
}

.ids {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 2rem;
}

.dropzoneContainer {
  flex: 1;
}

.dropzone {
  height: calc(100% - 2.5rem);
}

.idsArea {
  display: flex;
  flex-direction: column;
}

.idsArea textarea {
  flex: 1;
}

.footerMsg {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hint {
  color: var(--color-secondary-blue);
  text-decoration: underline;
}

.errorMsg {
  color: var(--color-danger-red);
}

.warning {
  color: var(--color-danger-red);
}

.vesselsTableContainer {
  flex: 1;
  max-width: 100%;
  overflow: auto scroll;
  border: var(--border);
}

.vesselsTable {
  width: 100%;
  border-collapse: collapse;
}

.vesselsTable thead {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.vesselsTable tr {
  min-height: 10rem;
}

.vesselsTable tr.odd {
  background-color: var(--color-terthiary-blue);
}

.vesselsTable th {
  text-align: left;
  font: var(--font-XS);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
}

.vesselsTable td,
.vesselsTable th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0 0 var(--space-S);
  line-height: 2rem;
  height: 3.2rem;
  max-width: 20rem;
  vertical-align: middle;
}

.vesselsTable tr:not(:last-child) td {
  border-bottom: var(--border);
}

.vesselsTable tr.noBorderBottom td {
  border-bottom: none;
}

.vesselsTable tr.noBorderTop td {
  border-top: none;
}

.vesselsTable tr.border:not(:last-child) td {
  border-bottom: 1px solid var(--color-secondary-blue);
}

.vesselsTable td.icon {
  padding-right: var(--space-S);
  width: 2rem;
  overflow: visible;
}

.backButton {
  margin-right: 1rem;
}

.openModalLink {
  text-decoration: underline;
}

.searchLink {
  color: var(--color-secondary-blue);
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 0;
}

.searchLinkText {
  display: flex;
  align-items: center;
  gap: var(--space-S);
}

.dropzoneLabel {
  margin-bottom: var(--space-XS);
}

.dropzoneLink {
  text-decoration: underline;
  text-transform: none;
}
