.inputContainer {
  position: relative;
}

.input input {
  padding: 0 7rem 0 1.5rem;
  border-radius: 2rem;
  background: var(--color-terthiary-blue);
  border-bottom: 1px solid var(--color-secondary-blue);
}

.input input:placeholder-shown {
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.input svg {
  right: 1rem;
}

.resultsNumber {
  position: absolute;
  text-align: right;
  line-height: 4rem;
  bottom: 0;
  right: 4rem;
  z-index: 2;
}

@media print {
  .inputContainer {
    display: none;
  }
}
