.container {
  padding: var(--space-M);
}

.summary {
  font: var(--font-L);
  color: var(--color-secondary-blue);
  margin-bottom: var(--space-M);
}

.summary strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}
