.container {
  display: flex;
  align-items: center;
}

.container span {
  border-radius: 50%;
  font-size: 1rem;
  margin-left: var(--space-XS);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .high {
  background-color: var(--color-danger-red);
}

.container .medium {
  background-color: var(--color-primary-yellow);
}

span.count {
  background-color: var(--color-primary-blue);
  font-size: 0.8rem;
  min-width: 1.4rem;
  width: auto;
  height: 1.4rem;
  color: var(--color-white);
  margin-left: calc(-1 * var(--space-XS));
  margin-bottom: var(--space-S);
}
