.Switch {
  width: 2.4rem;
  height: 1.4rem;
  position: relative;
  background-color: transparent;
  border: var(--border);
  border-radius: 0.7rem;
  transition: var(--transition);
  cursor: pointer;
}

.Switch:disabled {
  cursor: not-allowed;
}

.Switch .nib {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: 0.2rem;
  left: 0.2rem;
  border-radius: 0.4rem;
  background-color: var(--color-secondary-blue);
  transition: var(--transition);
}

.Switch[aria-checked='true'] {
  background-color: var(--color-primary-blue);
}

.Switch[aria-checked='true'].customColor {
  background-color: currentColor;
}

.Switch[aria-checked='true'] .nib {
  left: 1.2rem;
  background-color: var(--color-white);
}

.Switch:not(:disabled):not([aria-checked='true']):hover {
  border: 0.1rem solid var(--color-secondary-blue);
}

.Switch:not(:disabled):not([aria-checked='true']):hover .nib {
  background-color: var(--color-primary-blue);
}
