.placeholder {
  text-align: center;
  padding-block: var(--space-XL);
}

.tabsContainer {
  margin: var(--space-S);
}

@media print {
  .tabsContainer > *[role='tabpanel'] {
    break-inside: avoid;
  }

  .tabsContainer h2 {
    break-after: avoid;
  }
}

.secondary {
  color: var(--color-secondary-blue);
}

.fullProfileMessage {
  color: var(--color-secondary-blue);
  padding: var(--space-S) var(--space-S) var(--space-S) var(--space-M);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

.linkTooltip {
  max-width: none;
}

.loginRequiered {
  height: 32rem;
}
