.summaryContainer {
  padding: var(--space-S) var(--space-M);
  border-bottom: var(--border);
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-S);
}

.title {
  font: var(--font-L);
}

.summary {
  font: var(--font-M);
  color: var(--color-secondary-blue);
  margin-bottom: var(--space-S);
}

.summary strong {
  font-weight: 400;
  color: var(--color-primary-blue);
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-S);
}
