.summaryContainer {
  padding: var(--space-S) var(--space-M);
  border-bottom: var(--border);
  min-height: 5.2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: var(--space-S);
}

.title {
  font: var(--font-L);
  min-width: max-content;
  flex: 1;
}

.vesselIcon {
  margin-right: var(--space-XS);
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-S);
}

.reportLink {
  text-decoration: underline;
  display: none;
}

@media print {
  .reportLink {
    display: block;
  }
}
