.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: var(--space-S);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-terthiary-blue);
  border-radius: 1.2rem;
  transition: width 150ms ease-out;
  cursor: pointer;
}

.icon:hover,
.selected {
  background-color: var(--color-secondary-blue);
}
