.legend .currentValue {
  background-color: white;
  color: var(--color-primary-blue);
}

:global(.printing) .legend .currentValue {
  display: none;
}

@media print {
  .legend .currentValue {
    display: none;
  }
}

.legendLabel {
  font: var(--font-S);
  opacity: var(--opacity-secondary);
  width: max-content;
}

.help {
  cursor: help;
}

.legendContainer {
  position: absolute;
  bottom: var(--space-L);
  right: var(--space-S);
  color: var(--color-white);
  background-color: var(--color-primary-blue);
  font: var(--font-S);
  line-height: 1;
  width: 300px;
  padding: 1rem;
}
