.groupOptions {
  padding: var(--space-S);
  padding-right: 0;
  max-height: 40rem;
  overflow: auto;
}

.groupOption {
  cursor: pointer;
  padding: var(--space-XS);
  padding-right: var(--space-M);
  display: flex;
  align-items: center;
}

.groupOption:not(:last-of-type) {
  border-bottom: var(--border);
}

.active,
.active:hover,
.active:focus {
  background-color: var(--color-white);
  color: var(--color-primary-blue);
}
