.container {
  padding: var(--space-XS) 0 var(--space-XS) 0;
  margin-left: 0;
}

.container:not(:last-child) {
  border-bottom: var(--border);
}

.title {
  display: flex;
  cursor: pointer;
}

.title > div {
  white-space: nowrap;
}

.info {
  align-self: flex-end;
}

.subtitle {
  color: var(--color-secondary-blue);
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  margin-left: var(--space-XS);
}
