.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-M);
}

.container {
  gap: var(--space-S);
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: minmax(24rem, 28rem) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}

.tableOfContents {
  min-height: 0;
  overflow-y: auto;
}

.content {
  max-width: 70rem;
  min-height: 0;
  overflow-y: auto;
  padding-bottom: 60%;
  margin: 0 auto;
}

.header {
  flex-shrink: 0;
  margin-bottom: var(--space-M);
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--space-XS);
  font: var(--font-M);
  color: var(--color-primary-blue-hover);
}

/* .breadcrumbLink {
}

.breadcrumbLink:hover {
  color: var(--color-primary-blue);
}
 */
.breadcrumbSeparator {
  font: var(--font-XL);
  color: var(--color-primary-blue-hover);
}

.title {
  font: var(--font-XXL-bold);
  color: var(--color-primary-blue);
}

.description {
  font: var(--font-M);
  color: var(--color-secondary-blue);
  margin-top: var(--space-S);
}

.placeholder {
  display: flex;
  justify-content: center;
  padding: var(--space-L);
  font: var(--font-M);
  color: var(--color-secondary-blue);
}

@media (width <= 768px) {
  .page {
    height: auto;
    display: block;
  }

  .container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    gap: var(--space-M);
    height: auto;
  }

  .tableOfContents,
  .content {
    overflow-y: visible;
  }

  .content {
    padding-bottom: 0;
  }
}

@media print {
  .page {
    height: auto;
    display: block;
  }

  .container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    height: auto;
  }

  .tableOfContents {
    display: none;
  }

  .content {
    overflow-y: visible;
    padding-bottom: 0;
  }
}
