.container {
  position: sticky;
  top: 0;
  z-index: 1;
  max-width: max-content;
}

.breadcrumb {
  min-height: var(--help-hub-breadcrumb-height);
  padding: 0 var(--space-M);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-XS);
  font: var(--font-L);
}

.crumb {
  color: var(--color-secondary-blue);
}

.crumbCurrent {
  color: var(--color-primary-blue);
}

.crumbLink {
  color: inherit;
}

.crumbLink:hover {
  color: var(--color-primary-blue);
}

.separator {
  font-size: 2.6rem;
  color: var(--color-secondary-blue);
}

@media (width <= 800px) {
  .breadcrumb {
    min-height: 0;
    padding: var(--space-S) var(--space-SM);
  }
}
