.title {
  font: var(--font-XL-bold);
  color: var(--color-primary-blue);
}

.description {
  font: var(--font-M);
  color: var(--color-secondary-blue);
  margin-top: var(--space-S);
}

.topics {
  display: flex;
  flex-direction: column;
  gap: var(--space-XS);
  margin-top: var(--space-M);
}

.topicLink {
  font: var(--font-M);
  color: var(--color-secondary-blue);
}

.topicLink:hover {
  color: var(--color-primary-blue);
  border-bottom: var(--border-thick);
}
