.container {
  margin-bottom: var(--space-M);
  border-top: var(--border);
}

.layerPanels {
  display: flex;
  flex-wrap: wrap;
}

.placeholder {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  padding: var(--space-M);
}
