:global(.recharts-cartesian-axis-tick-value) {
  fill: var(--color-secondary-blue);
  font: var(--font-XS);
  text-transform: uppercase;
  width: 4rem;
}

:global(.recharts-cartesian-axis-line),
:global(.recharts-cartesian-axis-tick-line) {
  stroke: var(--color-secondary-blue);
}

:global(.recharts-line-curve) {
  stroke-linecap: round;
  stroke-linejoin: round;
}

:global(.recharts-cartesian-grid-horizontal line) {
  stroke: var(--color-terthiary-blue);
}

.graph {
  padding: var(--space-M);
  min-height: 28rem;
}

.tooltipContainer {
  background-color: var(--color-white);
  border: var(--border);
  padding: var(--space-S);
}

.tooltipRow {
  display: flex;
  align-items: center;
}

.tooltipLabel {
  color: var(--color-secondary-blue);
}

.tooltipValueDot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  display: inline-flex;
  border: var(--border);
  background-color: currentColor;
  margin-right: 0.5rem;
}
