.title {
  width: 100%;
  padding: var(--space-M);
  border-bottom: var(--border);
}

.title span {
  color: var(--color-secondary-blue);
}

.title span::before,
.title strong::before {
  content: ' ';
}
