.row {
  padding: var(--space-M);
}

.content {
  position: relative;
  padding-left: var(--space-M);
  display: flex;
  flex-wrap: wrap;
}

.dataset {
  color: var(--color-secondary-blue);
}

.dot {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  display: inline-flex;
  background-color: currentColor;
  margin-right: 0.5rem;
}
