.container {
  padding: var(--space-M) var(--space-S) 0 var(--space-M);
  border-bottom: var(--border);
}

.high {
  border-left: 0.5em solid var(--color-danger-red);
}

.medium {
  border-left: 0.5em solid var(--color-primary-yellow);
}

.low {
  border-left: 0.5em solid var(--color-primary-green);
}

.none {
  border-left: 0.5em solid var(--color-primary-gray);
}

.sectionLabel {
  display: flex;
  align-items: center;
}

.categoryIcon {
  position: relative;
  width: 31px;
  margin: 0 9px 0 0;
  height: 31px;
  border: 1px solid rgba(34, 68, 126, 0.1);
  border-radius: 15.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.categoryIcon.event-port-visit {
  background-color: #9ef;
}

.categoryIcon.transmissions-off {
  background-color: #f7b500;
}

.categoryIcon.event-fishing {
  background-color: #fff;
}

.categoryIcon.event-encounter {
  background-color: #fae9a0;
}

.categoryIcon.event-loitering {
  background-color: #ddbef0;
}

.spinnerFull {
  margin-bottom: 5px;
}
