.container {
  padding: var(--space-S);
  padding-left: var(--space-M);
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font: var(--font-L);
  font-size: 2.2rem;
}
