.tableContainer {
  margin-top: 2.5rem;
  height: 42rem;
}

.vesselsTable {
  width: 100%;
  border-collapse: collapse;
}

.vesselsTable tr {
  height: 4rem;
}

.vesselsTable thead tr {
  height: 2rem;
}

.vesselsTable th {
  text-align: left;
  font: var(--font-S);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
}

.vesselsTable th.right {
  text-align: right;
}

.vesselsTable td,
.vesselsTable th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  max-width: 12rem;
  vertical-align: middle;
}

.vesselsTable tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.vesselsTable .columnSpace,
.vesselsTable th:not(:first-child) {
  padding-left: 1rem;
}

.vesselsTable td.icon {
  width: 2.8rem;
  overflow: visible;
}

.right {
  text-align: right;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  color: var(--color-secondary-blue);
  text-transform: uppercase;
  font: var(--font-S);
}

.footer > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .disabled {
  opacity: 0.5;
}
