.tableContainer {
  margin-top: 2.5rem;
  min-height: 42rem;
}

.vesselsTable {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: max-content 2fr minmax(max-content, 1fr) 2fr 1fr minmax(max-content, 1fr);
}

.vesselsTable.detections {
  grid-template-columns: max-content 2fr 1fr minmax(max-content, 1fr);
}

.spansFirstTwoColumns {
  grid-column: 1 / 3;
}

.header {
  text-align: left;
  font: var(--font-S);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
}

.vesselsTable > div:not(.header) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 4rem;
  padding-block: 0.5rem;
}

.vesselsTable > div:not(.header, .icon) {
  padding-block: 0.8rem;
}

.vesselsTable > div:not(.header, .icon, .right) {
  padding-right: 1rem;
}

.right {
  text-align: right;
}

.border {
  border-bottom: 1px solid var(--color-terthiary-blue);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-S);
  color: var(--color-secondary-blue);
  text-transform: uppercase;
  font: var(--font-S);
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer > .flex {
  justify-content: space-between;
}

.footer .disabled {
  opacity: 0.5;
}

.noWrap {
  white-space: nowrap;
}

.expand {
  flex: 1;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  display: inline-flex;
  background-color: currentcolor;
  margin-right: 0.5rem;
}

@media print {
  .footer button {
    display: none;
  }

  .footer > div:last-child {
    display: none;
  }
}
