.graph {
  width: 100%;
  height: 30rem;
  margin-bottom: var(--space-S);
}

.graph tspan {
  text-transform: uppercase;
  font: var(--font-XS);
  line-height: 1.2rem;
  fill: var(--color-secondary-blue);
}

.tooltipContainer {
  background-color: var(--color-white);
  border: var(--border);
  padding: var(--space-S);
}

.axisLabel {
  cursor: pointer;
}

.tooltipRow {
  display: flex;
  align-items: center;
}

.tooltipLabel {
  color: var(--color-secondary-blue);
}

.tooltipValueDot {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  display: inline-flex;
  border: var(--border);
  background-color: currentcolor;
  margin-right: 0.5rem;
}

.graph tspan.info {
  text-transform: lowercase;
  font-family: serif;
  font-style: italic;
  font-weight: 600;
}

.graph :global(.recharts-tooltip-cursor) {
  fill: var(--color-terthiary-blue);
}
