.input input {
  padding: 0 1.5rem;
  border-radius: 2rem;
  background: var(--color-terthiary-blue);
  border-bottom: 1px solid var(--color-secondary-blue);
}

.input input:placeholder-shown {
  border-bottom: 1px solid var(--color-terthiary-blue);
}
