.container {
  display: flex;
  height: calc(100vh - 14rem);
  min-height: 40rem;
}

.sidebarContainer {
  /* Modal minus search bar heights */
  position: sticky;
  top: 0;
  height: 100%;
  border-right: var(--border);
  width: 26rem;
}

.search {
  padding: var(--space-S);
}

.categories {
  padding-inline: var(--space-S);
}

.categoryContainer {
  border-radius: var(--border-radius-1);
  padding: var(--space-SM);
  background-color: var(--color-off-white);
  margin: var(--space-S);
  box-shadow: var(--box-shadow-1);
}

.category {
  display: block;
  cursor: pointer;
  color: var(--color-secondary-blue);
  padding: var(--space-S);
  border-left: 0.4rem solid transparent;
  transition: var(--transition);
  text-align: center;
}

.subcategory {
  display: block;
  cursor: pointer;
  color: var(--color-secondary-blue);
  padding: var(--space-S);
  margin-left: var(--space-M);
  border-left: 0.4rem solid transparent;
  transition: var(--transition);
}

.category:disabled {
  cursor: not-allowed;
}

.currentCategory {
  color: var(--color-primary-blue);
  border-left: 0.4rem solid var(--color-primary-blue);
}

.layerList {
  overflow: auto;
  width: 100%;
}

.categoryLabel {
  padding-block: var(--space-S);
}

.categoryLabelHidden {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

@media only screen and (width <= 720px) {
  .sidebarContainer {
    display: none;
  }

  .container {
    height: calc(100vh - 6.1rem);
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}
