.titleContainer {
  display: flex;
  align-items: center;
  gap: var(--space-S);
}

.emptyState,
.userDatasetList {
  min-height: calc(100vh - 24rem);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryLabel {
  flex: 1;
  padding-top: var(--space-M);
  padding-bottom: var(--space-S);
}

.dataset {
  height: 5rem;
  padding: var(--space-XS) var(--space-XS) var(--space-XS) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datasetLabel {
  display: flex;
  gap: var(--space-S);
}

.dataset:not(:last-child) {
  border-bottom: var(--border);
}

.placeholder {
  min-height: 15rem;
  padding-right: var(--space-M);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-blue);
}

.link {
  text-decoration: underline;
}

.highlighted {
  display: inline-block;
  background: var(--color-highlight-blue);
}
