.search {
  padding: var(--space-S) var(--space-M);
  border-bottom: var(--border);
}

.categoriesContainer {
  display: flex;

  /* Modal minus search bar heights */
  height: calc(100vh - 20rem - 6.1rem);
}

.categories {
  padding: var(--space-S) var(--space-M) var(--space-M) var(--space-M);
  border-right: var(--border);
}

.category {
  display: block;
  cursor: pointer;
  color: var(--color-secondary-blue);
  padding: var(--space-S);
  border-left: 0.4rem solid transparent;
  transition: var(--transition);
}

.category:disabled {
  cursor: not-allowed;
}

.currentCategory {
  color: var(--color-primary-blue);
  border-left: 0.4rem solid var(--color-primary-blue);
}

.layerList {
  padding: 0 var(--space-M) var(--space-L);
  overflow: auto;
  width: 100%;
}

.categoryLabel {
  padding-top: var(--space-M);
  padding-bottom: var(--space-S);
}

.categoryLabelHidden {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.layer {
  margin-bottom: var(--space-M);
}

.layerContainer {
  display: flex;
  gap: var(--space-M);
}

.layerImage {
  width: 15rem;
  height: 15rem;
  background-color: black;
  background-size: cover;
  flex-shrink: 0;
  border-radius: var(--border-radius);
}

.layerTitle {
  font: var(--font-L);
}

.layerDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.highlighted {
  display: inline-block;
  background: var(--color-highlight-blue);
}
