.container {
  padding: var(--space-S);
  padding-left: var(--space-M);
  border-bottom: var(--border);
  min-height: 5.2rem;
}

.placeholder {
  display: flex;
  align-items: center;
}

.row {
  flex: 1;
  gap: var(--space-S);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row + .row {
  padding-top: 0;
}

.title {
  font: var(--font-L);
  font-size: 2.2rem;
}

.description {
  font: var(--font-M);
  color: var(--color-secondary-blue);
}

.description strong {
  font-weight: bold;
}

.description a {
  text-decoration: underline;
}

.secondary {
  color: var(--color-secondary-blue);
}

.actions {
  white-space: nowrap;
  display: flex;
  gap: var(--space-S);
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.reportLink {
  text-decoration: underline;
  display: none;
}

.bufferContainer {
  background-color: white;
  padding: var(--space-S);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.bufferTooltipContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-S);
  padding: var(--space-S);
  font: var(--font-M);
  color: var(--color-primary-blue);
}

.actionContainer {
  width: 100%;
  padding-bottom: var(--space-S);
}

.confirmationContainer {
  width: 100%;
  display: flex;
  place-content: center space-between;
}

.sliderTrack {
  height: 2px;
  width: 100%;
  align-self: center;
}

.operationChoice {
  width: 100%;
}

.tooltipArrow,
.tooltipArrow::before {
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
}

.tooltipArrow {
  visibility: hidden;
}

.tooltipArrow::before {
  visibility: visible;
  top: -25px;
  left: -104px;
  content: '';
  transform: rotate(45deg);
}

@media print {
  .actions {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .reportLink {
    display: block;
  }
}
