.content {
  padding: var(--space-S) 0;
  border-bottom: var(--border);
}

.title {
  padding: var(--space-S);
  padding-top: 0;
  font: var(--font-M);
  font-weight: 700;
  font-family: var(--secondary-font-family);
  display: block;
}

.actions {
  padding: var(--space-S);
}

.cta {
  width: 100%;
  margin-bottom: var(--space-XS);
}
