.expandedContainer {
  width: 100%;
  transition: none;
  padding: var(--space-S);
  background-color: var(--color-white);
  border-radius: var(--border-radius-1);
  z-index: 1;
  filter: var(--filter-drop-shadow-2);
}

.tooltipArrow {
  fill: var(--color-white);
}
