.LayerPanelContainer {
  display: flex;
}

.LayerPanel {
  width: calc(100% - 1px);
  position: relative;
  min-height: var(--size-M);
}

.LayerPanelContainer:not(:last-child) .LayerPanel:not(.noBorder)::after {
  content: '';
  position: absolute;
  left: var(--space-S);
  bottom: 0;
  height: 0.1rem;
  width: calc(100% - var(--space-S));
  background-color: var(--color-border);
  z-index: -1;
}

.expandedContainerOpen {
  z-index: 1;
  filter: drop-shadow(0 0 1rem rgba(var(--primary-blue-rgb), 0.4));
}

.header {
  padding: var(--space-XS) var(--space-S);
  display: flex;
  align-items: center;
}

.dragger {
  width: 0;
  overflow: hidden;
  cursor: grab;
}

.dragger:focus {
  box-shadow: none;
}

.LayerPanel:hover .dragger {
  width: var(--size-S);
}

.expandedContainerOpen .header {
  background-color: var(--color-off-white);
}

.name {
  margin-left: var(--space-XS);
  flex: 1;
  opacity: var(--opacity-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  line-height: 2.8rem;
  display: flex;
  justify-content: space-between;
}

.actions {
  opacity: 0;
  transition: opacity 150ms linear;
  line-height: 1;
  display: flex;
  align-items: center;
}

.active {
  opacity: 1;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.LayerPanel:hover .actions {
  opacity: 1;
}

.LayerPanel:hover .errorIcon {
  display: none;
}

.shownUntilHovered,
.hideUntilHovered,
.hideUntilHovered > * {
  transition: var(--transition);
}

.LayerPanel:not(.expandedContainerOpen):not(:hover) .hideUntilHovered > * {
  overflow: hidden;
  width: 0;
  opacity: 0;
}

.LayerPanel.expandedContainerOpen .shownUntilHovered,
.LayerPanel:hover .shownUntilHovered {
  display: none;
}

.selectLabel:not(:first-child) {
  margin-top: var(--space-S);
}

.properties {
  padding: 0 var(--space-S) var(--space-S);
}

.dataWarning {
  opacity: var(--opacity-secondary);
  font: var(--font-S);
}

.dataWarningLinks button {
  text-decoration: underline;
  cursor: pointer;
}

.drag {
  opacity: 1;
  transition: opacity 100ms linear;
}

.dragging {
  opacity: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filter:not(:last-of-type) {
  margin-right: var(--space-M);
}

.tagList {
  width: 100%;
  white-space: normal;
}

.tagList.hidden {
  display: none;
}

.megedTagList {
  width: 100%;
  white-space: normal;
}

.infoContent {
  display: flex;
  flex-wrap: wrap;
}

.infoContentItem {
  margin-right: var(--space-M);
}

.infoLogin {
  margin-top: var(--space-M);
  color: var(--color-secondary-blue);
}

.actions .loadingIcon:hover {
  cursor: default;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.more,
.less {
  text-transform: capitalize;
}

.more::after {
  content: ' ▾';
}

.less::after {
  content: ' ▴';
}

.error {
  color: var(--color-danger-red);
}

.modalContent a {
  text-decoration: underline;
}

.trackColor::before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 6px;
  border-top: 2px solid var(--color);
  margin-right: 6px;
}

@media print {
  .tagList > li > div {
    border: var(--border);
  }

  .tagList > li *::after {
    background-color: transparent;
  }

  .switch {
    width: 1.4rem !important;
    transition: none;
  }

  .switch > span {
    display: none !important;
  }
}

:global(.printing) .tagList {
  display: flex;
}

:global(.printing) .mergedTagList {
  display: none;
}

:global(.printing) .tagList > li > div {
  border: var(--border);
}

:global(.printing) .tagList > li *::after {
  background-color: transparent;
}

:global(.printing) .switch {
  width: 1.4rem !important;
  transition: none;
}

:global(.printing) .switch > span {
  display: none !important;
}

.faded {
  color: var(--color-secondary-blue);
}
