.relative,
.LayerPanel {
  position: relative;
}

.expandedContainerOpen {
  z-index: 1;
  filter: var(--filter-drop-shadow);
}

.header {
  padding: var(--space-XS) var(--space-S);
  z-index: 1;
  display: flex;
  align-items: center;
  transition: background-color 150ms linear;
}

.expandedContainerOpen .header {
  background-color: var(--color-white);
}

.name {
  margin-left: var(--space-XS);
  flex: 1;
  opacity: var(--opacity-secondary);
}

.labelContainer {
  margin-bottom: 0.4rem;
}

.actions {
  opacity: 0;
  transition: opacity 150ms linear;
}

.LayerPanel:hover .actions {
  opacity: 1;
}

.placeholder {
  padding: var(--space-S);
  color: var(--color-secondary-blue);
}

.active {
  opacity: 1;
}

.expandedContainer {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translateY(0);
  transition:
    transform 150ms ease-out,
    opacity 150ms linear;
  opacity: 0;
  border-top: var(--border);
  border-bottom: var(--border);
}

.expandedContainerOpen .expandedContainer {
  padding: var(--space-S);
  padding-bottom: var(--space-M);
  background: var(--color-white);
  transform: translateY(4.3rem);
  opacity: 1;
}

.multiSelect {
  margin-top: var(--space-S);
}

.range {
  width: 100%;
}

.filterOperator {
  position: absolute;
  right: 0;
  top: -0.6rem;
}

.filtersDisabled {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin-top: var(--space-S);
}

.userGuideLink {
  margin-top: var(--space-S);
}

.footer {
  margin-top: var(--space-S);
  gap: var(--space-S);
  display: flex;
  justify-content: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}
