.container {
  padding-top: var(--space-XS);
  padding-bottom: var(--space-S);
}

.container ~ .container {
  padding-top: var(--space-S);
}

.container:not(:last-of-type) {
  border-bottom: var(--border-thick);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-XS) var(--space-S);
  gap: var(--space-XS);
}

.content {
  padding: var(--space-XS) var(--space-S);
}

.sectionTitle {
  font: var(--font-S);
  color: var(--color-secondary-blue);
  margin: 0;
  text-transform: uppercase;
  flex: 1;
}

.sectionButtons > *:not(:last-child) {
  margin-right: 1rem;
}

.sectionButtons > .lastBtn {
  display: inline-block;
}

.sectionButtons > *:not(:last-child).lastBtn {
  margin-right: 0;
}

.emptyState,
.disclaimer {
  font: var(--font-S);
  opacity: var(--opacity-secondary);
  padding: 0 var(--space-S);
}

.disclaimer {
  background-color: var(--color-help-yellow);
  padding: 0 var(--space-XS);
  margin: 0 var(--space-XS);
}

.link {
  text-decoration: underline;
}

.surveyLink {
  padding: var(--space-M) var(--space-S);
  color: var(--color-secondary-blue);
}
