.tooltipContent {
  background-color: var(--color-white);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.listContainer {
  padding: var(--space-S);
  padding-right: 0;
}

.listContainer > li {
  padding: var(--space-XS);
  padding-right: var(--space-M);
}

.listContainer > li:not(:last-of-type) {
  border-bottom: var(--border);
}

.listContainer > li > button {
  cursor: pointer;
}

.tooltipArrow {
  position: relative;
  z-index: -1;
}

.tooltipArrow::before {
  position: absolute;
  background-color: var(--color-white);
  width: 0.8rem;
  height: 0.8rem;
  top: -0.3rem;
  left: -0.5rem;
  content: '';
  border: var(--border);
  transform: rotate(45deg);
}
